{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% form_theme form _self %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
        <li><a href="{{ path('sylius_backend_product_index') }}">{{ 'sylius.breadcrumb.product.index'|trans }}</a></li>
        <li><a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}">{{ product.name }}</a></li>
        <li>{{ 'sylius.breadcrumb.edit'|trans }} PDP</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-pencil"></i> PDP of "{{ product.name }}"</h1>
    </div>

    <div class="row">
        {{ form_start(form) }}

        <table class="table" id="pdp-config-list">
            <thead>
            <tr>
                <th style="width: 50px;"></th>
                <th>Type</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
                {{ form_widget(form.inputs) }}
            </tbody>
        </table>
        {{ form_rest(form) }}

        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}


{% block collection_widget %}
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
{% endblock %}

{% block product_pdp_input_widget %}
    <tr>
        <td>
            <div data-target="move" class="text-center">
                <i class="glyphicon glyphicon-move"></i>

                {{ form_widget(form.position, {'value': name}) }}
            </div>
        </td>

        <td>{{ form.vars.value.humanNameDetailed }}</td>

        <td>
            {{ form_widget(form.type) }}
        </td>
    </tr>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                var list = $('#pdp-config-list');

                list.find('tbody').sortable({
                    update: function () {
                        var index = 1;
                        list.find('tbody tr').each(function () {
                            $(this).find('[data-target="move"] input').val(index++);
                        });
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}