{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
        <li><a href="{{ path('sylius_backend_product_index') }}">{{ 'sylius.breadcrumb.product.index'|trans }}</a></li>
        <li><a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}">{{ product.name }}</a></li>
        <li>{{ 'sylius.breadcrumb.edit'|trans }} variants</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-pencil"></i> Variants of "{{ product.name }}"</h1>
    </div>

    {{ form_errors(form) }}

    <form action="{{ path('sylius_backend_product_variant_group_edit', {'id': product.id}) }}" method="POST" class="form-horizontal" {{ form_enctype(form) }} novalidate>
        <input type="hidden" name="_method" value="POST">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    {{ form_label(form.options) }}
                    <div class="col-lg-9">
                        <ul class="list-unstyled" id="hierarchy-root">
                            {% for option in form.options %}
                                <li>
                                    {{ form.options.vars.choices[option.vars.value].data.name }}
                                    {{ form.options.vars.choices[option.vars.value].data.value }}
                                    {{ form_widget(option) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.sku_options) }}
                    <div class="col-lg-9">
                        <ul class="list-unstyled" id="hierarchy-root">
                            {% for option in form.sku_options %}
                                <li>
                                    {{ form.sku_options.vars.choices[option.vars.value].data.name }}
                                    {{ form.sku_options.vars.choices[option.vars.value].data.value }}
                                    {{ form_widget(option) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.productExtension) }}
                    <div class="col-lg-9">
                        <ul class="list-unstyled" id="hierarchy-root">
                            {% for extension in form.productExtension %}
                                <li>
                                    {{ form.productExtension.vars.choices[extension.vars.value].data.extension.presentation }}
                                    {{ form.productExtension.vars.choices[extension.vars.value].data.name }}
                                    {{ form_widget(extension) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <hr/>
                <div class="form-group" color="red">
                    {{ form_label(form.delete_filtered) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.delete_filtered) }}
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="highlight">
                    <pre>
You can set the value, or math. 
price - current price value
Example: price+100 // if variant has price 10 it will change on 110
                    </pre>
                </div>
                <div class="form-group">
                    {{ form_label(form.price_calculator) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.price_calculator) }}
                    </div>
                </div>
                <hr/>
                <div class="highlight">
                    <pre>
You can set the value, or math. 
width - current width value
Example: width+100 // if variant has width 10 it will change on 110
                    </pre>
                </div>
                <div class="form-group">
                    {{ form_label(form.width) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.width) }}
                    </div>
                </div>
                <hr/>
                <div class="highlight">
                    <pre>
You can set the value, or math. 
height - height width value
Example: height+100 // if variant has height 10 it will change on 110
                    </pre>
                </div>
                <div class="form-group">
                    {{ form_label(form.height) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.height) }}
                    </div>
                </div>
                <hr/>
                <div class="highlight">
                    <pre>
You can set the value, or math. 
depth - depth width value
Example: depth+100 // if variant has depth 10 it will change on 110
                    </pre>
                </div>
                <div class="form-group">
                    {{ form_label(form.depth) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.depth) }}
                    </div>
                </div>
                <hr/>
                <div class="highlight">
                    <pre>
You can set the value, or math. 
weight - weight width value
Example: weight+100 // if variant has weight 10 it will change on 110
                    </pre>
                </div>
                <div class="form-group">
                    {{ form_label(form.weight) }}
                    <div class="col-lg-8">
                        {{ form_widget(form.weight) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}
        {{ update() }}
    </form>
{% endblock %}
