{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}{{ 'frontend.title.homepage'|trans }} :: {{ parent() }}{% endblock %}

{% block content %}
    {{ block('stub_of_content') }}

    <div class="information-blocks home-factories">
        <div class="tabs-container">
            <div class="swiper-tabs tabs-switch">
                <div class="title">{{ 'frontend.factories'|trans }}</div>
                <div class="list">
                    <a class="block-title tab-switcher active">{{ 'frontend.new_factories'|trans }}</a>
                    <a class="block-title tab-switcher">{{ 'frontend.new_arrivals'|trans }}</a>
                    <div class="clear"></div>
                </div>
            </div>

            <div>
                <div class="tabs-entry">
                    <div class="products-swiper">
                        {{ sonata_block_render({type: 'frontend.block.factories'}, {newest: true}) }}
                    </div>
                </div>

                <div class="tabs-entry">
                    <div class="products-swiper">
                        {{ sonata_block_render({type: 'frontend.block.products'}, {user: app.user}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stub_of_content %}
<div class="information-blocks">
    <div class="row">

        <div class="col-md-2 col-md-push-10">
            <div class="sidebar-navigation">
                <div class="title">Special offers:<i class="fa fa-angle-down"></i></div>
                <div class="list">
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Selva</span></a>
                    <a class="entry active" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>i4 Mariani</span></a>
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Antonello Italia</span></a>
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Kartell</span></a>
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Arceos</span></a>
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Misura salotti</span></a>
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Passini</span></a>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-md-pull-2">

            <div class="navigation-banner-swiper">
                <div class="swiper-container" data-autoplay="5000" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide active" data-val="0">
                            <div class="navigation-banner-wrapper light-text align-1" style="background-image: url(/content/specials/aliante.jpg);">
                                <div class="navigation-banner-content">
                                    <div class="cell-view">
                                        <div class="cell-view-inner">
                                            <h2 class="subtitle">Antonelloitalia ALIANTE</h2>
                                            <h1 class="title">-50%</h1>
                                            <div class="description">12 available. Till 21/05/16</div>
                                            <div class="info">
                                                <a class="button style-1" href="#">More details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-val="1">
                            <div class="navigation-banner-wrapper light-text align-2" style="background-image: url(/content/specials/david03.jpg);">
                                <div class="navigation-banner-content">
                                    <div class="cell-view">
                                        <div class="cell-view-inner">
                                            <h2 class="subtitle">Antonelloitalia DAVID</h2>
                                            <h1 class="title">-30%</h1>
                                            <div class="description">Available till 01/02/16</div>
                                            <div class="info">
                                                <a class="button style-1" href="#">More details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-val="2">
                            <div class="navigation-banner-wrapper light-text align-1" style="background-image: url(/content/specials/igor04.jpg);">
                                <div class="navigation-banner-content">
                                    <div class="cell-view">
                                        <div class="cell-view-inner">
                                            <h2 class="subtitle">Antonelloitalia IGOR</h2>
                                            <h1 class="title">-30%</h1>
                                            <div class="description">Available till 01/02/16</div>
                                            <div class="info">
                                                <a class="button style-1" href="#">More details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="pagination"></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}