{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}{{ 'frontend.title.homepage'|trans }} :: {{ parent() }}{% endblock %}

{% block content %}
    {{ block('stub_of_content') }}

    <div class="information-blocks home-factories">
        <div class="tabs-container">
            <div class="swiper-tabs tabs-switch">
                <div class="title">{{ 'frontend.factories'|trans }}</div>
                <div class="list">
                    <a class="block-title tab-switcher active">{{ 'frontend.new_factories'|trans }}</a>
                    <a class="block-title tab-switcher">{{ 'frontend.new_arrivals'|trans }}</a>
                    <div class="clear"></div>
                </div>
            </div>

            <div>
                <div class="tabs-entry">
                    <div class="products-swiper">
                        {{ sonata_block_render({type: 'frontend.block.factories'}, {newest: true}) }}
                    </div>
                </div>

                <div class="tabs-entry">
                    <div class="products-swiper">
                        {{ sonata_block_render({type: 'frontend.block.products'}, {user: app.user}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stub_of_content %}
<div class="information-blocks">
    <div class="row">

        <div class="col-md-2 col-md-push-10" style="display:none;">
            <div class="sidebar-navigation">
                <div class="title">Special offers:<i class="fa fa-angle-down"></i></div>
                <div class="list">
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Selva</span></a>
                    <a class="entry active" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>i4 Mariani</span></a>
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Antonello Italia</span></a>
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Kartell</span></a>
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Arceos</span></a>
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Misura salotti</span></a>
                    <a class="entry" href="index-furniture.html#"><span><i class="fa fa-angle-right"></i>Passini</span></a>
                </div>
            </div>
        </div>

        <div class="col-md-12">

            <div class="navigation-banner-swiper">
                <div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide active" data-val="0">
                            <div class="navigation-banner-wrapper light-text align-1" style="background-image: url(/content/specials/news.jpg); background-position: right -100px;">
                                <div class="navigation-banner-content">
                                    <div class="cell-view">
                                        <div class="cell-view-inner">
                                            <h2 class="subtitle">ЗЕЛЕНЫЙ, СИНИЙ, ГОЛУБОЙ - КАКОЙ? БИРЮЗОВЫЙ!</h2>
                                            
                                            <div class="description" style="font-family: sans-serif; ">Тенденции последних лет ведут к упрощению колористики в интерьере, цвета становятся более пастельными, «выстиранными».</div>
                                            <div class="info">
                                                <a class="button style-1" href="{{ path('factory_side_news_view', { factory: 6, slug: 'color'}) }}">Читать далее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="pagination"></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}