{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li><a href="{{ path('furniture_backend_factory_index') }}" >factory</a></li>
    <li><a href="{{ path('furniture_backend_factory_show', { id: factory.id }) }}" >"{{ factory.name }}"</a></li>
    <li><a href="{{ path('furniture_backend_factory_user_relation_index', { id: factory.id }) }}" >user relations</a></li>
    <li>{{ factory_user_relation.user.customer.getFullName() }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> Update</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('furniture_backend_factory_user_relation_update', {'id': factory.id, 'rid': factory_user_relation.id}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/FactoryUserRelation:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
