{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% set form = sylius_cart_form({'product': product}) %}

{% block breadcrumb %}
    <a href="{{ path(product) }}">{{ product.name }}</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-5 col-md-4 col-lg-5 information-entry">
		<div class="product-preview-box">
			<div class="swiper-container product-preview-swiper swiper-swiper-unique-id-0 initialized">
				<div class="swiper-wrapper">
					{# for image in product.images #}
						<div class="swiper-slide">
							<div class="product-zoom-image">
								<img src="{{ product.image ? product.image.path|imagine_filter('sylius_large') : 'http://placehold.it/200x200' }}" alt="{{ product.name }}" />
							</div>
						</div>
					{# endfor #}
				</div>
			</div>
			<div class="swiper-hidden-edges">
				<div class="swiper-container product-thumbnails-swiper swiper-swiper-unique-id-1 initialized pagination-hidden">
					<div class="swiper-wrapper">
					{% if product.images|length > 0 %}
						{% for image in product.images %}
							<a href="{{ image.path|imagine_filter('sylius_large') }}" title="{{ product.name }}">
								<img src="{{ image.path|imagine_filter('sylius_small') }}" alt="{{ product.name }}" />
							</a>
						{% endfor %}
					{% endif %}
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="col-sm-7 col-md-4 information-entry">
		<div class="product-detail-box">
			<h1 class="product-title">{{ product.name }}</h1>
			<div class="product-description detail-info-entry">{{ product.description|default('sylius.product.no_description')|trans|raw }}</div>
		</div>
		<div class="price detail-info-entry">
			<div class="current">
				{{ sylius_calculate_price(product.masterVariant)|sylius_price }}
			</div>
		</div>
    </div>
	<div class="clear visible-xs visible-sm"></div>
</div>
<div class="row">
    <div class="col-md-6">
        {% if product.attributes|length > 0 %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="2">{{ 'sylius.product.attributes'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for attribute in product.attributes %}
                <tr>
                    <td>{{ attribute.presentation }}</td>
                    <td>{{ attribute.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix form-horizontal">
    <div class="col-md-6">
        {% if product.hasVariants %}
            {% if product.isVariantSelectionMethodChoice %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'sylius.variant.price'|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for variant in product.variants if variant.available %}
                    <tr>
                        <td>
                            {% if variant.presentation is empty %}
                            <ul class="unstyled">
                                {% for option in variant.options %}
                                <li><strong>{{ option.presentation }}</strong>: {{ option.value }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                {{ variant.presentation }}
                            {% endif %}
                        </td>
                        <td>
                            <span class="label label-success">{{ sylius_calculate_price(variant)|sylius_price }}</span>
                        </td>
                        <td>
                        {% if sylius_inventory_is_available(variant) %}
                            {{ form_widget(form.variant[loop.index0]) }}
                        {% else %}
                            <span class="label label-warning">{{ 'sylius.out_of_stock'|trans }}</span>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="well clearfix">
                    {{ form_widget(form.variant) }}
                </div>
            {% endif %}
        {% else %}
            <h4>
                <span class="label label-success pull-right">{{ sylius_calculate_price(product.masterVariant)|sylius_price }}</span>
                {{ 'sylius.variant.price'|trans }}
            </h4>
        {% endif %}
    </div>
    <div class="col-md-6 pull-right">
        {% if not product.hasVariants and not sylius_inventory_is_available(product.masterVariant) %}
            <span class="label label-warning">{{ 'sylius.out_of_stock'|trans }}</span>
        {% else %}
            {{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
            {{ form_widget(form._token) }}
            <br>
            <br>
            {% if sylius_is_restricted(product) %}
            <button disabled="disabled" class="btn btn-success btn-lg btn-block"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.product_not_available_in_zone'|trans }}</button>
            {% else %}
                <button type="submit" class="btn btn-success btn-lg btn-block"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.add_to_cart'|trans }}</button>
            {% endif %}
        {% endif %}
    </div>
</form>
</div>
{% endblock %}
