{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}

{% block topbar %}
<ol class="breadcrumb">
    <li><a href="{{ path('furniture_backend_retailer_profile_index') }}">Retailer profiles</a></li>
    <li>{{ retailer_profile.name }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> Update</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('furniture_backend_retailer_profile_update', {'id': retailer_profile.id}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/RetailerProfile:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
