{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
        <li>{{ 'product_type.breadcrumb.index'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{  buttons.create(path('furniture_backend_product_type_create')) }}
        </div>

        <h1><i class="glyphicon glyphicon-list-alt"></i> {{ 'product_type.breadcrumb.index'|trans|raw }}</h1>
    </div>

<form action="{{ path('furniture_backend_product_type_sort_positions') }}" method="POST" id="types-list-form">
    <table id="types-list" class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 50px;"></th>
            <th>Name</th>
            <th>Slug</th>
            <th>Parent</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for type in product_types %}
            <tr>
                <td>
                    <div data-target="move" class="text-center">
                        <i class="glyphicon glyphicon-move"></i>
                        <input type="hidden" name="type[{{ type.id }}]" value="{{ type.position }}"/>
                    </div>
                </td>
                <td>{{ type }}</td>
                <td>{{ type.slug }}</td>
                <td>{{ type.parent ? type.parent }}</td>
                <td>
                    {{ buttons.edit(path('furniture_backend_product_type_update', {id: type.id})) }}

                    {% if is_product_type_can_remove(type) %}
                        {{ buttons.delete(path('furniture_backend_product_type_delete', {id: type.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <button class="btn btn-success">
                        <i class="glyphicon glyphicon-save"></i>
                        Save positions
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function ($) {
            var typesList = $('#types-list tbody');

            typesList.sortable({
                update: function () {
                    var index = 1;
                    typesList.find('tr').each(function () {
                        $(this).find('[data-target="move"] input').val(index++);
                    });
                }
            });

            $('#types-list-form').submit(function () {
                // Remove method field
                $(this).find('input[name="_method"]').remove();
            })
        })(jQuery);
    </script>
{% endblock %}