{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}{{ 'frontend.title.specifications'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'frontend.title.homepage'|trans }}</a>
    <a href="{{ path('specifications') }}">{{ 'frontend.title.specifications'|trans }}</a>
{% endblock %}
