{% extends 'FrontendBundle:Specification:base.html.twig' %}

{% block title %}{{ ('frontend.title.' ~ (specification.id ? 'edit' : 'create')) }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ ('frontend.title.' ~ (specification.id ? 'edit' : 'create'))|trans }}</a>
{% endblock %}

{% block content %}
    <div class="information-blocks">
        <form action="" method="POST">
            {{ form_widget(form) }}

            <input type="submit" value="{{ 'frontend.save'|trans }}" />
        </form>
    </div>
{% endblock %}