{% extends 'FrontendBundle:Specification:base.html.twig' %}

{% block title %}{{ ('frontend.title.' ~ (specification.id ? 'edit' : 'create'))|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ ('frontend.title.' ~ (specification.id ? 'edit' : 'create'))|trans }}</a>
{% endblock %}

{% block content %}
    {% if not specification.id %}
        {{ block('content_with_create') }}
    {% else %}
        {{ block('content_with_edit') }}
    {% endif %}
{% endblock %}

{% block content_with_create %}
    <div class="information-blocks">
        <form action="" method="POST">
            {{ form_widget(form) }}

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="{{ 'frontend.save'|trans }}" />
            </div>
        </form>
    </div>
{% endblock %}

{% block content_with_edit %}
    <h1>{{ 'frontend.specification_edit'|trans }}</h1>
    <div class="row specification-edit-head">
        <div class="col-sm-3 information-entry">
            <div class="information-blocks form-horizontal specification-info">                
                <div class="article-container style-1">
                    <h5>{{ 'frontend.specficatior.client_lable'|trans }}</h5>

                    <div class="editable buyer" id="specification-buyer" style="padding-top:0;margin-bottom:15px;">
                        {{ specification.buyer|default('None') }} 
                    </div>

                    <h5>{{ 'frontend.specficatior.client_contact_lable'|trans }}</h5>
                    <p>
                        {{ specification.buyer ? specification.buyer.email }}<br/>
                        {{ specification.buyer ? specification.buyer.phone }} 
                    </p>

                    <h5>Description</h5>
                    <div class="name editable" style="padding-top:0;margin-bottom:15px;" id="specification-name">{{ specification.name }}</div>

                    <h5>{{ 'frontend.specficatior.description_lable'|trans }}</h5>
                    <div class="description editable" id="specification-description" style="padding-top:0;margin-bottom:15px;">
                        {{ specification.description|default('None') }}
                    </div>

                    {% if specification.buyer and specification.buyer.hasSale() %}
                        <h5>{{ 'frontend.sale'|trans }}</h5>
                        <p>{{ specification.buyer.sale }}%</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 information-entry">
            <div class="information-blocks form-horizontal specification-info pull-right">
                <img src="{{ specification.creator.retailerProfile.logoImage ? specification.creator.retailerProfile.logoImage.path|imagine_filter('s201x203') : '/img/201x203.png' }}" alt="" class="imgmedia-object" />
            </div>
        </div>
                    
        <div class="col-sm-5 information-entry">
            <h3 class="block-title main-heading">{{ specification.creator.retailerProfile.name }}</h3>

            <div class="article-container style-1">
                <h5>Manager</h5>
                <p>
                    {{ specification.creator.user.fullName }}<br />
                    {{ specification.creator.user.customer.email }}
                </p>

                <h5>Company address</h5>
                <p>{{ specification.creator.retailerProfile.address }}</p>

                <h5>Contact Informations</h5>
                <p>
                    Retailer Email: {{ specification.creator.retailerProfile.emails|join(', ') }}<br>
                    Toll-free: {{ specification.creator.retailerProfile.phones|join(', ') }}
                </p>
            </div>
        </div>
    </div>

    <div class="information-blocks" style="position: relative; padding-top: 40px;">
        <div class="specification-pretable-controls">
            <div class="form-group">
                <div class="pull-right">
                    <a id="remove-current-specification" class="btn btn-danger btn-xs" href="{{ path('specification_remove', {specification: specification.id}) }}">{{ 'frontend.remove'|trans }}</a>

                    {% if not specification.finished and specification.items|length > 0 and is_granted('FINISH', specification) %}
                        <a class="btn btn-primary btn-xs" href="{{ path('specification_finish', {specification: specification.id}) }}">{{ 'frontend.finish'|trans }}</a>
                    {% endif %}

                    {% if is_granted('EXPORT', specification) and specification.items|length > 0 %}
                        <a class="btn btn-success btn-xs" href="{{ path('specification_export_preview', {specification: specification.id}) }}">{{ 'frontend.export'|trans }}</a>
                    {% endif %}
                </div>

                <label class="control-label pull-right" style="margin-right: 10px;">{{ 'frontend.actions'|trans }}</label>
            </div>
        </div>

        <table id="specification-table" class="table" data-specification-id="{{ specification.id }}" >
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-center">{{ 'frontend.image'|trans }}</th>
                    <th>{{ 'frontend.brand'|trans }}</th>
                    <th>{{ 'frontend.name'|trans }}</th>
                    <th>{{ 'frontend.options'|trans }}</th>
                    <th>{{ 'frontend.note'|trans }}</th>
                    <th>{{ 'frontend.quantity'|trans }}</th>
                    <th class="text-center">{{ 'frontend.price'|trans }}</th>
                    <th class="text-center">{{ 'frontend.total_price'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for specification_item in specification.items %}
                    {% if specification_item.skuItem %}
                        {% include 'FrontendBundle:Specification/edit:_sku_table_item.html.twig' with {'specification_item':specification_item} %}
                    {% elseif specification_item.customItem %}
                        {% include 'FrontendBundle:Specification/edit:_custom_table_item.html.twig' with {'specification_item':specification_item} %}
                    {% endif %}
                {% endfor %}
            </tbody>

            <tfoot>
            <tr class="total-price">
                <td colspan="2"></td>
                <td class="text-right">{{ 'frontend.volume'|trans }}</td>
                <td class="text-left" rel="volume" id="volume">{{ specification.volume }}</td>
                <td class="text-right">{{ 'frontend.weight'|trans }}</td>
                <td class="text-left" rel="weight" id="weight">{{ specification.weight }}</td>
                <td colspan="2" class="text-right" id="add-extra-sale" style="cursor: pointer;">{{ 'frontend.total_price'|trans }}</td>
                <td id="table-total-price"></td>
                <td></td>
            </tr>

            <tr class="specification-sale" data-sale-prototype="{{ block('specification_sale')|e }}">
                <td colspan="8"></td>
                <td colspan="2" id="extra-sale-td">
                    {% set sales_count = specification.sales|length %}
                    {% if sales_count > 0 %}
                        {% for sale in specification.sales %}
                            {{ block('specification_sale')|replace({__index__: loop.index, __sale__: sale.sale})|raw }}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>

            <tr class="final-price">
                <td colspan="7" class="text-right">{{ 'frontend.final_price'|trans }}</td>
                <td rel="final-price" colspan="3">{{ specification|specification_total_price|money }}</td>
            </tr>
            </tfoot>        
        </table>

        {% if is_granted('EXPORT', specification) and specification.items|length > 0 %}
            <a href="{{ path('specification_export_preview', { specification: specification.id}) }}" class="btn btn-success">Export</a>
        {% endif %}

        <a href="#" id="add-custom-item-btn" class="btn btn-success">AddCustom</a>
    </div>
{% endblock %}

{% block specification_sale %}
    <div class="sale">
        <a href="#">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
        <span>discount </span>
        <span id="specification-sale" class="edit" data-index="__index__">__sale__</span>
        <span>%: -</span><span class="discount_summ"></span>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}

    {% if specification.id %}
        <script type="text/javascript">
            (function ($) {
                function moneyHelper(money)
                {
                    return '{{ 0|money }}'.replace( /0.00/, money );
                }
                
                function isIntoView(el)
                {
                    var
                        $window = $(window),
                        docViewTop = $window.scrollTop(),
                        docViewBottom = docViewTop + $window.height(),
                        elTop = el.offset().top,
                        elBottom = elTop + el.height();

                    return ((elBottom <= docViewBottom) && (elTop >= docViewTop));
                }

                var
                    scrollTo = function(el)
                    {
                        $('html, body').animate({
                            scrollTop: el.offset().top-150
                        }, 200);
                    },

                    scrollToView = function(el){
                        if(!isIntoView(el)){
                            scrollTo(el);
                        }
                    };

                $.editable.addInputType('price', {
                    element : function(settings, original) {
                        var input = $('<input type="number" step="0.01">');
                        $(this).append(input);

                        return(input);
                    },
                    submit : function (settings, original) {
                        if (isNaN($(original).val())) {
                            alert('You must provide a number');
                            return false;
                        } else {
                            return true;
                        }
                    }
                });

                $.editable.addInputType('integer', {
                    element : function(settings, original) {
                        var input = $('<input type="number">');
                        $(this).append(input);
                        return(input);
                    },
                    submit : function (settings, original) {
                        if (isNaN($(original).val())) {
                            alert('You must provide a number');
                            return false;
                        } else {
                            return true;
                        }
                    }
                });

                var specificationId = {{ specification.id }};
                
                $(document).ready(function () {
                    var progressBasr = '<div class="progress progress-striped active"><div class="progress-bar"  role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Saving ...</div>\</div>';
                    /* Top form */
                    var editableUrl = '{{ path('specification_api_specification_editable', {specification: specification.id}) }}',

                    editableParams = {
                        width: '100%',
                        height: '100%',
                        tooltip: '{{ 'frontend.click_to_edit'|trans }}',
                        indicator: function(){
                            return progressBasr;
                        }
                    };
        
                    /* table code */
                    var 
                    trTotalPriceSpecificationUpdater = function()
                        {
                            var url = '{{path('specification_api_specification_info', { itemId: 123, index: 'itemIndex' })}}'
                                    .replace( /123/, $('#specification-table').data('specification-id').toString())
                                    .replace(/itemIndex/, 'priceInfo');

                            $.ajax({
                                url: url,
                                dataType: 'json',
                                type: 'get',
                                success: function (res) {
                                    $('[rel="final-price"]').html(res.totalPriceWithExtraDisc);
                                    $('#table-total-price').html(res.totalPrice);
                                    $('#extra-sale-td .sale').each(function(i){
                                        var saleWrap = $(this);
                                        saleWrap.find('.discount_summ').html(res.salesAmounts[i]);       
                                    });
                                }
                            });
                        };
                    trTotalPriceSpecificationUpdater();
                    var trTotalPriceUpdater = function(tr)
                        {
                            var url = '{{path('specification_api_specification_custom_Item_info', { itemId: 123, index: 'itemIndex' })}}'
                                    .replace( /123/, tr.data('id').toString())
                                    .replace(/itemIndex/, 'totalPrice');

                            $.ajax({
                                url: url,
                                type: 'get',
                                success: function (res) {
                                    tr.find('td:eq(8)').html(res);
                                }
                            });
                        },

                        getTdTableEditableBaseOption = function(dataTableO, tr, td, itemCallback)
                        {
                            var
                                itemIndex = td.data('index'),
                                inputType = td.data('type'),
                                table = dataTableO;

                            itemCallback = itemCallback ? itemCallback : function(){};

                            return {
                                "type": inputType,
                                "submit": (inputType === "textarea") ? '<button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </button>' : false,
                                "onreset": function(){
                                    tr.removeClass('active');
                                },
                                "callback": function( sValue, y ) {
                                    var aPos = table.fnGetPosition( this );
                                    table.fnUpdate( sValue, aPos[0], aPos[1] );
                                    tr.animate({
                                        opacity: 0.0
                                    }, 200 ).promise().then(function(){
                                        tr.animate({
                                            opacity: 1
                                        }, 300 );
                                    });

                                    itemCallback();

                                    scrollToView(tr);
                                },
                                "submitdata": function ( value, settings ) {
                                    return {
                                        id: itemIndex
                                    };
                                },
                                "indicator": function(){
                                    return progressBasr;
                                },
                                "height": "100%",
                                "width": "100%"
                            }
                        },

                        initializeUploaderForTableRow = function (tr)
                        {
                            tr.find('.image-ajax-container').each(function () {
                                var q = new ImageAjax($(this), {
                                    onRemove: function () {
                                        tr.addClass('danger');

                                        bootbox.confirm('{{ 'frontend.are_you_sure_remove_image'|trans }}', function(result) {
                                            if (result) {
                                                $.ajax({
                                                    url: '{{ path('specification_api_specification_custom_item_remove_image', {item: 123}) }}'.replace(/123/, tr.data('custom-id')),
                                                    method: 'GET',
                                                    complete: function () {
                                                        tr.removeClass('danger');
                                                    },
                                                    success: function () {
                                                        q.setImagePath('');
                                                        q.viewImageUpload();
                                                    },
                                                    error: function () {
                                                    }
                                                });
                                            } else {
                                                tr.removeClass('danger');
                                            }
                                        });

                                        return false;
                                    }
                                });
                            });
                        },

                        customItemInitializer = {
                            editableRoute: '{{ path('specification_api_specification_custom_Item_editable', { item:123}) }}',
                            tdDefaultSubject: function(dataTableO, tr, td){
                                td.unbind();
                                var itemId = tr.data('id');
                                td.click(function(){
                                        tr.parents('table:first').find('.active').removeClass('active');
                                        tr.addClass('active');
                                    });
                                var url = this.editableRoute.replace(/123/, itemId.toString());
                                td.editable( url, getTdTableEditableBaseOption(dataTableO, tr, td) );
                            },
                            trPriceSubject: function(dataTableO, tr, td){
                                td.unbind();
                                var itemId = tr.data('id');
                                td.click(function(){
                                    tr.parents('table:first').find('.active').removeClass('active');
                                    tr.addClass('active');
                                });
                                var url = this.editableRoute.replace(/123/, itemId.toString());
                                td.editable( url, getTdTableEditableBaseOption(dataTableO, tr, td, function(){
                                    trTotalPriceUpdater(tr);
                                    trTotalPriceSpecificationUpdater();
                                }));
                            }
                        },

                        specificationItemInitializer = {
                            editableRoute: '{{ path('specification_api_specification_item_editable', {item: 123}) }}',
                            tdDefaultSubject: function(dataTableO, tr, td){
                                td.unbind();
                                itemId = tr.data('id');
                                td.click(function(){
                                    tr.parents('table:first').find('.active').removeClass('active');
                                    tr.addClass('active');
                                });
                                var url = this.editableRoute.replace(/123/, itemId.toString());
                                td.editable( url, getTdTableEditableBaseOption(dataTableO, tr, td) );
                            },
                            tdQuantitySubject: function(dataTableO, tr, td){
                                td.unbind();
                                itemId = tr.data('id');
                                td.click(function(){
                                    tr.parents('table:first').find('.active').removeClass('active');
                                    tr.addClass('active');
                                });
                                var url = this.editableRoute.replace(/123/, itemId.toString());
                                td.editable( url, getTdTableEditableBaseOption(dataTableO, tr, td, function(){
                                    trTotalPriceUpdater(tr);
                                    trTotalPriceSpecificationUpdater();
                                }));
                            }
                        },

                        table = $('#specification-table').dataTable({
                            language: {
                                search: 'Search in this specification:'
                            },
                            dom: '<"top"><"bottom"flp><"clear">',
                            paging: false,
                            rowCallback: function( row, data, index ) {
                                var itemEditableUrl = '{{ path('specification_api_specification_item_editable', {item: 123}) }}';
                                var customItemEditableUrl = '{{ path('specification_api_specification_custom_Item_editable', { item:123}) }}';
                                var tr = $(row);
                                tr.find('td').each(function(i){
                                    var td = $(this);

                                    if( !td.data('type') || !td.data('server-type') || !td.data('index')) {
                                        return;
                                    }

                                    if(td.data('index') === 'price'){
                                        customItemInitializer.trPriceSubject(table, tr, td);
                                    }else if(td.data('index') === 'quantity'){
                                        specificationItemInitializer.tdQuantitySubject(table, tr, td);
                                    }else if(td.data('server-type') === 'custom-item'){
                                        customItemInitializer.tdDefaultSubject(table, tr, td);
                                    }else if(td.data('server-type') === 'specification-item'){
                                        specificationItemInitializer.tdDefaultSubject(table, tr, td);
                                    }
                                });
                            },
                            columns: [
                                { orderable: true },
                                { orderable: false },
                                { orderable: true },
                                { orderable: false },
                                { orderable: false },
                                { orderable: false },
                                { orderable: true },
                                { orderable: true },
                                { orderable: true },
                                { orderable: false }
                            ]
                        }),

                        tableEdit = table.DataTable();

                    tableEdit.draw();


                    /* Add custom row */
                    $('#add-custom-item-btn').click(function(){
                        $.ajax({
                            url: '{{ path('specification_api_specification_custom_Item_add') }}',
                            type: 'post',
                            data: {
                                specification: specificationId,
                                factoryName: '',
                                name: '',
                                price: 0,
                                quantity: 1,
                                note: ''
                            },
                            error: function () {
                                alert('Error adding specification item. Please try again.');
                            },
                            success: function (res) {
                                var
                                    data = res.data,
                                    rowData = [];

                                rowData.push('');
                                rowData.push(data.factoryName ? data.factoryName : '' );
                                rowData.push('');
                                rowData.push(data.name ? data.name : '' );
                                rowData.push(data.options ? data.options : '' );
                                rowData.push(data.note ? data.note : '' );
                                rowData.push(data.quantity+'');
                                rowData.push('0');
                                rowData.push('0');
                                rowData.push('edit');

                                var row = $(tableEdit.row.add(rowData).node());

                                var imageAjaxContainer = '<div class="image-ajax-container" data-full-name="custom[__custom_id__][path]" data-url-upload="__upload_url__">\
                                        <div class="image-upload">\
                                            <img data-src="holder.js/150x150?text=Choose image" width="150" height="150" />\
                                        </div>\
                                        <div class="form-widget">\
                                            <input type="hidden" name="custom[__custom_id__][path]" />\
                                        </div>\
                                        <div class="image-container">\
                                            <div class="image">\
                                                <img width="150" height="150" src="" />\
                                            </div>\
                                            <a class="btn btn-danger btn-xs" href="#remove-image">\
                                                <i class="fa fa-remove">Remove</i>\
                                            </a>\
                                        </div>\
                                    </div>';

                                imageAjaxContainer = imageAjaxContainer
                                    .replace(/__custom_id__/g, data.customId)
                                    .replace(/__upload_url__/g, '{{ path('specification_api_specification_custom_item_upload_image', {item: 123}) }}'.replace(/123/, data.customId));

                                row
                                    .find('td').last()
                                    .html('<a class="btn btn-danger btn-xs remove" href="#"><i class="fa fa-trash-o"></i>{{ 'frontend.remove'|trans }}</a>');

                                row
                                    .data('id', data.id)
                                    .data('custom-id', data.customId);

                                row
                                    .find('td:eq(0)')
                                    .data('index', 'position')
                                    .data('type', 'text')
                                    .data('server-type', 'custom-item')
                                    .addClass('text-center');

                                row
                                    .find('td:eq(1)')
                                    .data('index', 'factoryName')
                                    .data('type', 'text')
                                    .data('server-type', 'custom-item');

                                row
                                    .find('td:eq(2)')
                                    .html(imageAjaxContainer);

                                row.find('td:eq(3)')
                                    .data('index', 'name')
                                    .data('type', 'text')
                                    .data('server-type', 'custom-item');
                            
                                row.find('td:eq(4)')
                                    .data('index', 'options')
                                    .data('type', 'textarea')
                                    .data('server-type', 'custom-item');

                                row.find('td:eq(5)')
                                    .data('index', 'note')
                                    .data('type', 'textarea')
                                    .data('server-type', 'specification-item');

                                row.find('td:eq(6)')
                                    .data('index', 'quantity')
                                    .data('type', 'integer')
                                    .data('server-type', 'specification-item');

                                row.find('td:eq(7)')
                                    .data('index', 'price')
                                    .data('type', 'price')
                                    .data('server-type', 'custom-item');

                                tableEdit.row(row).draw();
                                scrollToView(row);
                                row.addClass('active');
                                initializeUploaderForTableRow(row);
                                Holder.run(row.find('.image-container img').get(0));
                            }
                        });

                        return false;
                    });

                    $('tr[data-custom-id]').each(function () {
                        initializeUploaderForTableRow($(this));
                    });

                    /* Delete row */
                    $(document).on('click', '#specification-table .remove', function () {
                            var a = $(this);
                            var td = a.parents('td').first();
                            var tr = td.parents('tr').first();
                            var itemId = tr.data('id');
                            tr.addClass('danger');

                            bootbox.confirm('{{ 'frontend.are_you_sure_remove_specification_item'|trans }}', function(result) {
                                if(result){
                                    td.html(progressBasr);
                                    $.ajax({
                                        url: '{{ path('specification_api_specification_item_remove', {item: 123}) }}'.replace(/123/, itemId.toString()),
                                        complete: function () {
                                            tr.removeClass('danger');
                                            a.prop('disabled', false);
                                            console.log('complete remove');
                                            trTotalPriceSpecificationUpdater();
                                        },
                                        error: function () {
                                            alert('Error with remove specification item. Please try again.');
                                        },
                                        success: function () {
                                            console.log('success remove');
                                            tr.animate({
                                                height: '0px'
                                            }, 50, 'swing', function () {
                                                tableEdit
                                                        .row(tr)
                                                        .remove()
                                                        .draw();
                                            });
                                        }
                                    });
                                }else{
                                    tr.removeClass('danger');
                                }
                            }); 
                            return false;
                    });                    
                    
                    /*Other editable element*/
                    $('.specification-info .editable.name').editable(editableUrl, editableParams);

                    $('.specification-info .editable.description').editable(editableUrl, $.extend({
                        type: 'textarea',
                        "submit": '<button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </button>',
                    }, editableParams));
                    
                    var updateExtraSaleIndexes = function(){
                        $('#extra-sale-td').find('.edit').each(function(index, el){
                            index++;
                            $(el).data('index', index);
                        });
                    };
                    
                    var saleInitialize = function (el) {
                        el = $(el);
                        var editable = el.find('.edit');
                        var remove = el.find('a');

                        editable.editable(editableUrl, {
                            width: '48px',
                            style: "display: inline-block;",
                            height: '100%',
                            submitdata: function (value) {
                                return {
                                    index: editable.data('index')
                                }
                            },
                            callback: function() {
                                trTotalPriceSpecificationUpdater();
                            }
                        });

                        remove.click(function(){
                            el.html(progressBasr);
                            $.ajax({
                                method: 'POST',
                                url: '{{ path('specification_api_specification_item_remove_extra_sale', {specification: specification.id}) }}',
                                data: {
                                    index: editable.data('index')
                                }
                            }).done(function() {
                                updateExtraSaleIndexes();
                                trTotalPriceSpecificationUpdater();
                                el.remove();
                            });
                            return false;
                        });
                    };
                    
                    $('#add-extra-sale').click(function(){
                        var e = $('#extra-sale-td');

                        if (e.find('.edit').length >= 3 ) {
                            return false;
                        }

                        var lastel = e.children().last();
                        
                        var line = $('[data-sale-prototype]').data('sale-prototype');
                        line = line
                            .replace( /__index__/ , 0)
                            .replace( /__sale__/ , 0);

                        var newSale = $(line);

                        if(lastel.length > 0){
                            lastel.after( newSale );
                        }else{
                            $('#extra-sale-td').append(newSale);
                        }

                        updateExtraSaleIndexes();

                        newSale.children().hide();
                        newSale.append(progressBasr);

                        $.ajax({
                            method: 'POST',
                            url: editableUrl,
                            data: {
                               'id': 'specification-sale',
                               'index': newSale.find('.edit').data('index'),
                               'value': 0
                            }
                        }).done(function() {
                            saleInitialize(newSale);
                            newSale.find('.progress').remove();
                            newSale.children().show();
                            newSale.find('.edit').trigger('click');
                        });

                        return false;
                    });
                    
                    $('tr.specification-sale .sale').each(function(){
                        saleInitialize(this);
                    });

                    $('.specification-info .editable.buyer').editable(editableUrl, $.extend({
                        type: 'select',
                        loadurl: '{{ path('specification_api_specification_buyers') }}',
                        submit: 'Ok',
                        callback: function(){
                            bootbox.dialog({
                                title: "",
                                message: "<h3>{{ 'frontend.specficatior.page_reload_alert'|trans }}</h3>",
                            });
                            location.reload();
                        }

                    }, editableParams));

                    $('#remove-current-specification').click(function(){
                        var a = $(this);

                        bootbox.confirm('{{ 'frontend.are_you_sure_remove_specification'|trans }}', function(result) {
                            if(result){
                                window.location = a.attr('href');
                            }
                        });
                        return false;
                    });

                    (function (url, params) {
                        $('[rel="volume"]').editable(url, params);
                        $('[rel="weight"]').editable(url, params);
                    })(editableUrl, editableParams);
                })
            })(jQuery);
        </script>
    {% endif %}
{% endblock %}