{% extends 'FrontendBundle:Specification:base.html.twig' %}

{% block title %}{{ specification.name }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ specification.name }}</a>
{% endblock %}

{% block content %}
    <div class="information-blocks">
        <h1>{{ specification.name }}</h1>
        <p class="text-muted">{{ specification.description }}</p>
    </div>
{% endblock %}