{% extends 'FrontendBundle:Specification:base.html.twig' %}
{% from 'FrontendBundle:Macros:misc.html.twig' import pagination %}
{% use 'FrontendBundle:Specification:toolbar_actions.html.twig' %}
{% use 'FrontendBundle:Specification:specifications_table.html.twig' %}

{% block title %}{{ 'frontend.title.list'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <span class="active">{{ 'frontend.title.list'|trans }}</span>
{% endblock %}

{% block content %}
    {% set paginator = pagination(specifications) %}
    {{ block('toolbar_actoions') }}
        {% set not_found = 'frontend.specfications_not_found'|trans %}
        {% if is_granted('SPECIFICATION_CREATE') %}
        {% set not_found = not_found ~ '<a href="' ~ path('specification_create') ~ '">' ~ 'frontend.create'|trans ~ '</a>' %}
        {% endif %}
    {{ block('specifications_table') }}
    <div class="row mv-actions">
        <div class="col-xs-4 col-sm-6 col-lg-4 col-xs-push-8 col-sm-push-6 col-lg-push-8">
            {{ paginator }}
        </div>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select[name="sorting"]').on('change', function (e) {
                var query = {[this.name]: $(this).val()};
            window.location = window.location.origin + window.location.pathname + '?' + $.param(query)
            });
        })
    </script>
{% endblock %}
