{% extends 'FrontendBundle:Specification:base.html.twig' %}
{% from 'FrontendBundle:Macros:misc.html.twig' import pagination %}
{% from 'FrontendBundle:Macros:specification.html.twig' import list_toolbar %}
{% use 'FrontendBundle:Specification:specifications_table.html.twig' %}

{% block title %}{{ 'frontend.title.list'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <span class="active">{{ 'frontend.title.list'|trans }}</span>
{% endblock %}

{% block content %}
    {% set paginator = pagination(specifications) %}
    {{ list_toolbar(sorting, paginator) }}
    {{ block('specifications_table') }}
    {{ list_toolbar(sorting, paginator, false) }}
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select[name="sorting"]').on('change', function (e) {
                var query = {[this.name]: $(this).val()};
                window.location = window.location.origin + window.location.pathname + '?' + $.param(query)
            });
        })
    </script>
{% endblock %}
