{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
        <li>{{  'product_extension_variant.breadcrumb.index'|trans }}</li>
        <li>{{ 'create'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-plus-sign"></i> {{ 'product_extension_variant.header.create'|trans }}</h1>
    </div>

    {{ form_errors(form) }}

    <form action="{{ path('furniture_backend_product_extension_variant_create', {product_extension: product_extension.id}) }}" method="post" class="form-horizontal" novalidate>
        {{ form_widget(form) }}

        {{ create() }}
    </form>
{% endblock %}
