{% spaceless %}
{% set image = post.images|length > 0 ? post.images.first : null %}
{% set link = circulars ? path('factory_side_circular', { factory: factory.id, slug: post.slug}) : path('factory_side_news_view', { factory: factory.id, slug: post.slug}) %}

<div class="post-item{{ image ? ' with-image' : '' }}">
    {% if image %}
        <div class="image">
            <img src="{{ post.images.first.path|imagine_filter('s150x150') }}" width="150" height="150" />
        </div>
    {% endif %}

    <div class="post-info">
        <div class="title">
            <a href="{{ link }}">{{ post.translate.title }}</a>
        </div>

        <div class="short-description">{{ post.translate.shortDescription }}</div>
    </div>

    {% if image %}
        <div class="clearfix"></div>
    {% endif %}
</div>
{% endspaceless %}