{% block AutocompleteEntity_widget %}
    {% spaceless %}
        <div fullname="{{ full_name }}" {{ block('widget_container_attributes') }} source="{{ path(source) }}" {% if multiple %}multiple{% else %}single{% endif %} class="add-entity-widget">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" placeholder="Enter name" class="form-control add-entity-widget-name" data-widget-name="{{ name }}">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% block item %}
                            {% if multiple %}
                            {% for item in data %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td><input name="{{ full_name }}" type="hidden" value="{{ item.id }}">
                                        <a class="btn btn-default add-entity-widget-delete" href="#" role="button">Remove</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% elseif (data is not empty) %}
                                <tr>
                                    <td>{{ data.id }}</td>
                                    <td>{{ data.name }}</td>
                                    <td><input name="{{ full_name }}" type="hidden" value="{{ data.id }}">
                                        <a class="btn btn-default add-entity-widget-delete" href="#" role="button">Remove</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block backend_image_widget %}
    <div class="backend-image{% if form.vars.path %} path-exist{% endif %}">
        <div class="path-input">
            {{ form_widget(form.path) }}
        </div>

        <div class="image-input">
            {{ form_widget(form.file) }}
        </div>

        <div class="image-container">
            {% if form.vars.path %}
                <img src="{{ form.vars.filter ? form.vars.path|imagine_filter(form.vars.filter) : form.vars.path }}" width="{{ form.vars.width }}" height="{{ form.vars.height }}" />

                <div class="buttons">
                    {% if form.vars.allow_delete %}
                        <a class="btn btn-danger btn-xs backend-image-delete">
                            <i class="fa fa-remove"></i>
                            Remove
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
