{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
        <li><a href="{{ path('furniture_backend_product_style') }}">{{ 'product_style.breadcrumb.index'|trans }}</a></li>
        <li>Create</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-plus-sign"></i> Create</h1>
    </div>

    <form action="" method="POST" class="form-horizontal" novalidate>
        {{ form_widget(form) }}
        {{ create() }}
    </form>
{% endblock %}
