{% extends 'FrontendBundle:Profile/ContentUser:base.html.twig' %}

{% block title %}{{ 'frontend.title.dashboard'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ 'frontend.title.dashboard'|trans }}</a>
{% endblock %}

{% block page_content %}
    <div class="article-container style-1">
        {% if app.user.getRetailerProfile() %}
            <h3>Retiler {{ app.user.retailerProfile.name }}</h3>
            <h2>User {{ app.user.username }}</h2>
            <br/>
            Address:<br/>
            <p>{{ app.user.retailerProfile.address }}<br>
                <b>Phones:</b>
                {% for phone in app.user.retailerProfile.phones %}
                    {{ phone }} 
                {% endfor %}
                </p>
        {% endif %}
    </div>
{% endblock %}