{% extends 'FrontendBundle:Specification/Export:base.html.twig' %}
{% from 'FrontendBundle:Macros:specification.html.twig' import specification_header, export_toolbar %}

{% block title %}{{ 'frontend.title.preview'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="{{ path('specification_edit', {specification: specification.id}) }}">{{ specification.name }}</a>

    <span class="active">{{ 'frontend.title.preview'|trans }}</span>
{% endblock %}

{% block content %}
<div class="table-responsive">
    <form id="specifications-export-form" action="{{ path('specification_export', {specification: specification.id}) }}" method="get">
        {{ export_toolbar(specification, filters, 'top') }}
        {{ specification_header(specification, 'frontend.export_specification_preview'|trans) }}

        <input type="hidden" name="mode" value="full" />
        <input type="hidden" name="factory_id" value="" />
        <input type="hidden" name="factory_name" value="" />

        <table id="specifications-export-table" class="table table-striped table-bordered table-condensed specifications-export-table">
            <thead>
                <tr role="row">
                    <th>
                        <input type="checkbox" id="checkbox-for-id" name="fields[]" value="position" checked />
                        <label for="checkbox-for-id" class="checkbox-name">#</label>
                    </th>
                    <th>
                        <input type="checkbox" id="checkbox-for-index" name="fields[]" value="number" checked />
                        <label for="checkbox-for-index" class="checkbox-name">#</label>
                    </th>
                    <th>
                        <input type="checkbox" id="checkbox-for-image" name="fields[]" value="photo" checked />
                        <label for="checkbox-for-image" class="checkbox-name">{{ 'frontend.image'|trans }}</label>
                    </th>

                    <th>
                        <input type="checkbox" id="checkbox-for-brand" name="fields[]" value="brand" checked />
                        <label for="checkbox-for-brand" class="checkbox-name">{{ 'frontend.brand'|trans }}</label>
                    </th>

                    <th>
                        <input type="checkbox" id="checkbox-for-name" name="fields[]" value="name" checked />
                        <label for="checkbox-for-name" class="checkbox-name">{{ 'frontend.name'|trans }}</label>
                    </th>
                    <th>
                        <input type="checkbox" id="checkbox-for-type" name="fields[]" value="type" checked />
                        <label for="checkbox-for-type" class="checkbox-name">{{ 'frontend.type'|trans }}</label>
                    </th>
                    <th>
                        <input type="checkbox" id="checkbox-for-factory-code" name="fields[]" value="factory_code" checked />
                        <label for="checkbox-for-factory-code" class="checkbox-name">{{ 'frontend.factory_code'|trans }}</label>
                    </th>
                    <th>
                        <input type="checkbox" id="checkbox-for-name2" name="fields[]" value="name" checked />
                        <label for="checkbox-for-name2" class="checkbox-name">{{ 'frontend.name'|trans }}</label>
                    </th>
                    <th>
                        <input type="checkbox" id="checkbox-for-options" name="fields[]" value="options" checked />
                        <label for="checkbox-for-options" class="checkbox-name">{{ 'frontend.options'|trans }}</label>
                    </th>

                    <th>
                        <input type="checkbox" id="checkbox-for-notes" name="fields[]" value="notes" checked />
                        <label for="checkbox-for-notes" class="checkbox-name">{{ 'frontend.notes'|trans }}</label>
                    </th>

                    <th>
                        <input type="checkbox" id="checkbox-for-quantity" name="fields[]" value="quantity" checked />
                        <label for="checkbox-for-quantity" class="checkbox-name">{{ 'frontend.quantity'|trans }}</label>
                    </th>

                    <th>
                        <input type="checkbox" id="checkbox-for-price" name="fields[]" value="price" checked />
                        <label for="checkbox-for-price" class="checkbox-name">{{ 'frontend.price'|trans }}</label>
                    </th>

                    <th>
                        <input type="checkbox" id="checkbox-for-total-price" name="fields[]" value="total_price" checked />
                        <label for="checkbox-for-total-price" class="checkbox-name">{{ 'frontend.total_price'|trans }}</label>
                    </th>
                    <th>Search Column</th>
                </tr>
            </thead>

            <tbody>
            {% for item in specification.items %}
                {% if item.getSkuItem %}
                    {% set productVariant = item.getSkuItem.productVariant %}
                    {% set product = productVariant.product %}

                    <tr>
                        <td class="text-center">{{ item.position }}</td>
                        <td class="loop-index text-center">{{ loop.index }}</td>
                        <td class="text-center">
                            {% if product.images|length > 0 %}
                                <img src="{{ product.images.first.path|imagine_filter('s150x150') }}" />
                            {% endif %}
                        </td>

                        <td>{{ product.factory.name }}</td>

                        <td>
                            {% if productVariant.activeFactoryCode %}
                                <div>
                                    {{ productVariant.activeFactoryCode }}
                                </div>
                            {% endif %}

                            <div>
                                <span class="product-title">
                                    {{ product.translate.name }}
                                </span>
                            </div>

                            {% if product.types|length %}
                                <div>
                                    {{ (product.types|first).translate.name }}
                                </div>
                            {% endif %}
                        </td>

                        <td>
                            {% if product.types|length %}
                                <div>
                                    {{ (product.types|first).translate.name }}
                                </div>
                            {% endif %}
                        </td>

                        <td>
                            {% if productVariant.activeFactoryCode %}
                                <div>
                                    {{ productVariant.activeFactoryCode }}
                                </div>
                            {% endif %}
                        </td>

                        <td>
                            <div>
                                <span class="product-title">
                                    {{ product.translate.name }}
                                </span>
                            </div>
                        </td>

                        <td>
                            <ul>
                                {% for option in productVariant.options %}
                                    <li><strong>{{ option.name }}:</strong> {{ option.value }}</li>
                                {% endfor %}

                                {% for option in productVariant.skuOptions %}
                                    <li><strong>{{ option.name }}:</strong> {{ option.value }}</li>
                                {% endfor %}

                                {% for part_variant_selection in productVariant.productPartVariantSelections %}
                                    <li>
                                        <strong>{{ part_variant_selection.productPart.label }}:</strong>
                                        {{ part_variant_selection.productPartMaterialVariant.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>

                        <td>{{ item.note }}</td>

                        <td class="text-center">{{ item.quantity }}</td>
                        <td class="text-center">{{ productVariant|sku_price|money }}</td>
                        <td class="text-center">{{ item|specification_item_total_price|money }}</td>
                        <td>{{ item.skuitem.productVariant.product.factory.id }}</td>
                    </tr>
                {% elseif item.customItem %}
                    {% set custom_item = item.customItem %}

                    <tr>
                        <td class="text-center">{{ item.position }}</td>
                        <td class="text-center">{{ loop.index}}</td>

                        <td class="text-center">
                            <div class="image-container">
                                <div class="product-image">
                                    {% if custom_item.image and custom_item.image.path %}
                                        <img src="{{ custom_item.image.path|imagine_filter('s150x150') }}" />
                                    {% endif %}
                                </div>
                            </div>
                        </td>

                        <td>{{ custom_item.factoryName }}</td>

                        <td>
                            <div>
                                <span class="product-title">
                                    {{ custom_item.name }}
                                </span>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ custom_item.options }}</td>
                        <td>{{ item.note }}</td>
                        <td class="text-center">{{ item.quantity }}</td>
                        <td class="text-center">{{ custom_item.price|money }}</td>
                        <td class="text-center">{{ item|specification_item_total_price|money }}</td>
                        <td>{{ custom_item.factoryName|default('Without name')|md5 }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <td class="text-right" colspan="4">
                    <strong>{{ 'frontend.volume'|trans }}</strong>
                </td>

                <td class="text-left">{{ specification.volume }}</td>

                <td class="text-right" colspan="4">
                    <strong>{{ 'frontend.weight'|trans }}</strong>
                </td>

                <td class="text-left">{{ specification.weight }}</td>

                <td class="text-right" colspan="2">
                    {{ 'frontend.total_price'|trans }}
                </td>
                <td><span class="total-price">{{ specification|specification_total_price(false)|money }}</span></td>
            </tr>

            {% if specification.sales|length > 0 %}
                {% set price = specification|specification_total_price(false) %}

                <tr>
                    <td class="text-left" colspan="8">
                        {% for sale in specification.sales %}
                        {% set nowSale = (price / 100) * sale.sale %}
                        {% set price = price - nowSale %}
                        <div>
                            {{ 'frontend.discount_value'|trans({':discount': sale.sale}) }} -{{ nowSale|money }}
                        </div>
                        {% endfor %}
                    </td>
                    <td colspan="4" class="text-right">
                        {{ 'frontend.final_price'|trans }}
                    </td>
                    <td><span class="final-price">{{ specification|specification_total_price|money }}</span></td>
                </tr>
            {% endif %}
            </tfoot>
        </table>
        {{ export_toolbar(specification, filters, 'bottom') }}
    </form>
</div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function ($) {
            var searchColumn = 13;
            var hidenColumns = {
                full: [1, 5, 6, 7],
                factory: [0, 2, 3, 4, 12],
                custom: [0, 2, 3, 5, 6, 7, 12]
            };

            table = $('#specifications-export-table').dataTable({
                paging: false,
                dom: '<"top"><"bottom"lp><"clear">',
                bSort: false,
                columnDefs: [
                    {
                        targets: [searchColumn],
                        visible: false,
                        searchable: true
                    },
                    {
                        targets: hidenColumns.full,
                        visible: false,
                        searchable: false
                    }
                ]
            });

            var tableEdit = table.DataTable();
            tableEdit.draw();

            $('#filter-top, #filter-bottom').on('change', function (e) {
                var selected = $(this.options[this.selectedIndex]);
                var mode = selected.closest('optgroup').data('mode');
                var factoryId = '', factoryName = '';
                var reg = selected.val() !== 'all';
                var smart = !reg;
                var search = selected.val() !== 'all' ? '^' + selected.val() + '$' : '';
                var position = $(this).data('position');

                // Search in table
                tableEdit.column(searchColumn).search(search, reg, smart, true).draw();

                if (typeof mode === "undefined") {
                    mode = 'full';
                    table.find('tfoot').show();
                }
                else {
                    table.find('tfoot').hide();
                    (mode === 'factory')
                            ? factoryId = selected.val()
                            : factoryName = selected.text();
                }


                // Hide columns
                tableEdit.columns().iterator('column', function (context, index) {
                    if (index !== searchColumn) {
                        var column = tableEdit.column(index);
                        var visible = !($.inArray(index, hidenColumns[mode]) > -1);
                        column.visible(visible);
                    }
                });

                // Get visible filtered columns.
                var currentRows = tableEdit.rows({search: 'applied'}).nodes();

                // Set number column to loop iteration index.
                $.each(currentRows, function (index, val) {
                    $(val).find('td.loop-index').html(index + 1);
                });

                // Set hidden values of the form.
                $('#specifications-export-form')
                        .find('input[type="hidden"][name="mode"]')
                        .val(mode)
                        .end()
                        .find('input[type="hidden"][name="factory_id"]')
                        .val(factoryId)
                        .end()
                        .find('input[type="hidden"][name="factory_name"]')
                        .val(factoryName);

                // Duplicate top and bottom filter value.
                $('#filter-top, #filter-bottom').val(selected.val());
            });
        })(jQuery);
    </script>
{% endblock %}
