{% extends 'FrontendBundle:Specification/Export:base.html.twig' %}

{% block title %}{{ 'frontend.title.preview'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ 'frontend.title.preview'|trans }}</a>
{% endblock %}

{% block content %}
    <div class="information-blocks">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#full" aria-controls="full" role="tab" data-toggle="tab">{{ 'frontend.full'|trans }}</a>
            </li>

            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ 'frontend.by_company'|trans }}<span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    {% for grouped_item in grouped_items_by_factory %}
                        <li>
                            <a role="tab" data-toggle="tab" href="#factory-{{ grouped_item.factory.id }}">{{ grouped_item.factory.name }}</a>
                        </li>
                    {% endfor %}

                    {% for grouped_item in grouped_custom_items_by_factory %}
                        <li>
                            <a role="tab" data-toggle="tab" href="#custom-{{ grouped_item.factoryName|md5 }}">{{ grouped_item.factoryName }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="full">
                <form action="{{ path('specification_export', {specification: specification.id}) }}" method="get">
                    <input type="hidden" name="mode" value="full" />
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="11">SPECIFICATION HEADER</th>
                        </tr>

                        <tr>
                            <th colspan="11">
                                #{{ specification.id }}
                                {{ specification.name }}
                                {{ specification.createdAt.format('Y/m/d H:i') }}
                            </th>
                        </tr>

                        <tr class="text-center">
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="number" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="factory" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="photo" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="name" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="article" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="size" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="finishes" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="characteristics" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="quantity" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="price" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="total_price" checked /><span class="check"></span></label></th>
                        </tr>

                        <tr class="table-title">
                            <th>#</th>
                            <th>{{ 'frontend.brand'|trans }}</th>
                            <th>{{ 'frontend.photo'|trans }}</th>
                            <th>{{ 'frontend.name'|trans }}</th>
                            <th>{{ 'frontend.product_article'|trans }}</th>
                            <th>{{ 'frontend.product_size'|trans }}</th>
                            <th>{{ 'frontend.finishes'|trans }}</th>
                            <th>{{ 'frontend.characteristics'|trans }}</th>
                            <th>{{ 'frontend.quantity'|trans }}</th>
                            <th>{{ 'frontend.price'|trans }}</th>
                            <th>{{ 'frontend.total_price'|trans }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in specification.items %}
                            {% if item.getSkuItem %}
                                {% set productVariant = item.getSkuItem.productVariant %}
                                {% set product = productVariant.product %}

                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ product.factory.name }}</td>

                                    <td>
                                        {% if product.images|length > 0 %}
                                            <img src="{{ product.images.first.path|imagine_filter('s100x100') }}" />
                                        {% endif %}
                                    </td>

                                    <td>{{ product.name }}</td>
                                    <td>{{ productVariant.sku }}</td>
                                    <td>{{ productVariant.humanSize }}</td>

                                    <td>
                                        <ul>
                                            {% for option in productVariant.options %}
                                                <li><strong>{{ option.name }}:</strong> {{ option.value }}</li>
                                            {% endfor %}

                                            {% for option in productVariant.skuOptions %}
                                                <li><strong>{{ option.name }}:</strong> {{ option.value }}</li>
                                            {% endfor %}

                                            {% for part_variant_selection in productVariant.productPartVariantSelections %}
                                                <li>
                                                    <strong>{{ part_variant_selection.productPart.label }}:</strong>
                                                    {{ part_variant_selection.productPartMaterialVariant.name }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>

                                    <td></td>

                                    <td>{{ item.quantity }}</td>
                                    <td>{{ productVariant|sku_price|money }}</td>
                                    <td>{{ item|specification_item_total_price|money }}</td>
                                </tr>
                            {% elseif item.customItem %}
                                {% set custom_item = item.customItem %}

                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ custom_item.factoryName }}</td>

                                    <td>
                                        {% if custom_item.image and custom_item.image.path %}
                                            <img src="{{ custom_item.image.path|imagine_filter('s100x100') }}" height="100" width="100" />
                                        {% endif %}
                                    </td>

                                    <td>{{ custom_item.name }}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ custom_item.options }}</td>
                                    <td></td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ custom_item.price|money }}</td>
                                    <td>{{ item|specification_item_total_price|money }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>

                        <tfoot>
                        <tr>
                            <td colspan="8" class="text-right">{{ 'frontend.total_quantities'|trans }}</td>
                            <td>{{ specification.countItems }}</td>
                            <td class="text-right">{{ 'frontend.total_price'|trans }}</td>
                            <td>{{ specification|specification_total_price|money }}</td>
                        </tr>

                        <tr>
                            <td colspan="11">
                                <input type="submit" class="btn btn-primary" value="{{ 'frontend.export'|trans }}" />
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>

            {% for grouped_item in grouped_items_by_factory %}
                <div role="tabpanel" class="tab-pane" id="factory-{{ grouped_item.factory.id }}">
                    <h3>{{ grouped_item.factory.name }}</h3>

                    <form action="{{ path('specification_export', {specification: specification.id}) }}" method="get">
                        <input type="hidden" name="mode" value="factory" />
                        <input type="hidden" name="factory_id" value="{{ grouped_item.factory.id }}" />

                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="5"></th>
                            </tr>

                            <tr class="text-center">
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="number" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="photo" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="name" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="sku" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="note" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="size" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="quantity" checked /><span class="check"></span></label></th>
                            </tr>

                            <tr class="table-title">
                                <th>#</th>
                                <th>{{ 'frontend.photo'|trans }}</th>
                                <th>{{ 'frontend.name'|trans }}</th>
                                <th>{{ 'frontend.sku'|trans }}</th>
                                <th>{{ 'frontend.note'|trans }}</th>
                                <th>{{ 'frontend.product_size'|trans }}</th>
                                <th>{{ 'frontend.quantity'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in grouped_item.items %}
                                {% set productVariant = item.skuItem.productVariant %}
                                {% set product = productVariant.product %}

                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        {% if product.images|length > 0 %}
                                            <img src="{{ product.images.first.path|imagine_filter('s100x100') }}" />
                                        {% endif %}
                                    </td>
                                    <td>{{ productVariant.product.name }}</td>
                                    <td>{{ productVariant.sku }}</td>
                                    <td>{{ item.note }}</td>
                                    <td>{{ productVariant.humanSize }}</td>
                                    <td>{{ item.quantity }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <input type="submit" class="btn btn-primary" value="{{ 'frontend.export'|trans }}" />
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            {% endfor %}

            {% for grouped_item in grouped_custom_items_by_factory %}
                <div role="tabpanel" class="tab-pane" id="custom-{{ grouped_item.factoryName|md5 }}">
                    <h3>{{ grouped_item.factoryName }}</h3>

                    <form method="get" action="{{ path('specification_export', {specification: specification.id}) }}">
                        <input type="hidden" name="mode" value="custom" />
                        <input type="hidden" name="factory_name" value="{{ grouped_item.factoryName }}" />

                        <table class="table">
                            <thead>
                            <tr class="text-center">
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="number" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="photo" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="name" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="quantity" checked /><span class="check"></span></label></th>
                            </tr>

                            <tr class="table-title">
                                <th>#</th>
                                <th>{{ 'frontend.photo'|trans }}</th>
                                <th>{{ 'frontend.name'|trans }}</th>
                                <th>{{ 'frontend.quantity'|trans }}</th> 
                            </tr>
                            </thead>

                            <tbody>
                                {% for item in grouped_item.items %}
                                    {% set custom_item = item.customItem %}

                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>
                                            {% if custom_item.image and custom_item.image.path %}
                                                <img src="{{ custom_item.image.path|imagine_filter('s100x100') }}" width="100" height="100" />
                                            {% endif %}
                                        </td>

                                        <td>{{ custom_item.name }}</td>
                                        <td>{{ item.quantity }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <input type="submit" class="btn btn-primary" value="{{ 'frontend.export'|trans }}" />
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
