{% extends 'FrontendBundle:Specification/Export:base.html.twig' %}

{% block title %}{{ 'frontend.title.preview'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ 'frontend.title.preview'|trans }}</a>
{% endblock %}

{% block content %}
    <div class="information-blocks">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#full" aria-controls="full" role="tab" data-toggle="tab">{{ 'frontend.all'|trans }}</a>
            </li>

            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ 'frontend.by_company'|trans }}<span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    {% for grouped_item in grouped_items_by_factory %}
                        <li>
                            <a role="tab" data-toggle="tab" href="#factory-{{ grouped_item.factory.id }}">{{ grouped_item.factory.name }}</a>
                        </li>
                    {% endfor %}

                    {% for grouped_item in grouped_custom_items_by_factory %}
                        <li>
                            <a role="tab" data-toggle="tab" href="#custom-{{ grouped_item.factoryName|md5 }}">{{ grouped_item.factoryName }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="full">
                <form action="{{ path('specification_export', {specification: specification.id}) }}" method="get">
                    <input type="hidden" name="mode" value="full" />

                    {{ block('specification_export_header') }}

                    <table class="table">
                        <thead>
                        <tr class="text-center">
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="position" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="photo" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="brand" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="name" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="options" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="notes" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="quantity" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="price" checked /><span class="check"></span></label></th>
                            <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="total_price" checked /><span class="check"></span></label></th>
                        </tr>

                        <tr class="table-title">
                            <th>#</th>
                            <th>{{ 'frontend.photo'|trans }}</th>
                            <th>{{ 'frontend.brand'|trans }}</th>
                            <th>{{ 'frontend.name'|trans }}</th>
                            <th>{{ 'frontend.options'|trans }}</th>
                            <th>{{ 'frontend.notes'|trans }}</th>
                            <th>{{ 'frontend.quantity'|trans }}</th>
                            <th>{{ 'frontend.price'|trans }}</th>
                            <th>{{ 'frontend.total_price'|trans }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in specification.items %}
                            {% if item.getSkuItem %}
                                {% set productVariant = item.getSkuItem.productVariant %}
                                {% set product = productVariant.product %}

                                <tr>
                                    <td>{{ item.position }}</td>

                                    <td>
                                        {% if product.images|length > 0 %}
                                            <img src="{{ product.images.first.path|imagine_filter('s100x100') }}" />
                                        {% endif %}
                                    </td>

                                    <td>{{ product.factory.name }}</td>

                                    <td>
                                        <div>{{ product.translate.name }}</div>

                                        {% if product.factoryCode %}
                                            <div>
                                                {{ product.factoryCode }}
                                            </div>
                                        {% endif %}

                                        {% if product.types|length %}
                                            <div>
                                                {{ (product.types|first).translate.name }}
                                            </div>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <ul>
                                            {% for option in productVariant.options %}
                                                <li><strong>{{ option.name }}:</strong> {{ option.value }}</li>
                                            {% endfor %}

                                            {% for option in productVariant.skuOptions %}
                                                <li><strong>{{ option.name }}:</strong> {{ option.value }}</li>
                                            {% endfor %}

                                            {% for part_variant_selection in productVariant.productPartVariantSelections %}
                                                <li>
                                                    <strong>{{ part_variant_selection.productPart.label }}:</strong>
                                                    {{ part_variant_selection.productPartMaterialVariant.name }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>

                                    <td>{{ item.note }}</td>

                                    <td>{{ item.quantity }}</td>
                                    <td>{{ productVariant|sku_price|money }}</td>
                                    <td>{{ item|specification_item_total_price|money }}</td>
                                </tr>
                            {% elseif item.customItem %}
                                {% set custom_item = item.customItem %}

                                <tr>
                                    <td>{{ item.position }}</td>

                                    <td>
                                        {% if custom_item.image and custom_item.image.path %}
                                            <img src="{{ custom_item.image.path|imagine_filter('s100x100') }}" height="100" width="100" />
                                        {% endif %}
                                    </td>

                                    <td>{{ custom_item.factoryName }}</td>

                                    <td>{{ custom_item.name }}</td>
                                    <td>{{ custom_item.options }}</td>
                                    <td>{{ item.note }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ custom_item.price|money }}</td>
                                    <td>{{ item|specification_item_total_price|money }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>

                        <tfoot>
                        <tr>
                            <td class="text-right" colspan="3">
                                <strong>{{ 'frontend.volume'|trans }}</strong>
                            </td>

                            <td class="text-left">{{ specification.volume }}</td>

                            <td class="text-right">
                                <strong>{{ 'frontend.weight'|trans }}</strong>
                            </td>

                            <td class="text-left">{{ specification.weight }}</td>

                            <td class="text-right" colspan="2">
                                <strong>{{ 'frontend.total_price'|trans }}</strong>
                            </td>

                            <td>{{ specification|specification_total_price(false)|money }}</td>
                        </tr>

                        {% if specification.sales|length > 0 %}
                            {% set price = specification|specification_total_price(false) %}

                            {% for sale in specification.sales %}
                                <tr>
                                    <td class="text-right" colspan="8">
                                        {{ 'frontend.discount_value'|trans({':discount': sale.sale}) }}
                                    </td>

                                    <td>{{ ((price / 100) * sale.sale)|money }}</td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <td colspan="8" class="text-right">
                                    <strong>{{ 'frontend.final_price'|trans }}</strong>
                                </td>
                                <td>{{ specification|specification_total_price|money }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td colspan="9">
                                <input type="submit" class="btn btn-primary" value="{{ 'frontend.export'|trans }}" />
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>

            {% for grouped_item in grouped_items_by_factory %}
                <div role="tabpanel" class="tab-pane" id="factory-{{ grouped_item.factory.id }}">
                    <h3>{{ grouped_item.factory.name }}</h3>

                    <form action="{{ path('specification_export', {specification: specification.id}) }}" method="get">
                        <input type="hidden" name="mode" value="factory" />
                        <input type="hidden" name="factory_id" value="{{ grouped_item.factory.id }}" />

                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="5"></th>
                            </tr>

                            <tr class="text-center">
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="number" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="photo" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="name" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="sku" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="note" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="size" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="quantity" checked /><span class="check"></span></label></th>
                            </tr>

                            <tr class="table-title">
                                <th>#</th>
                                <th>{{ 'frontend.photo'|trans }}</th>
                                <th>{{ 'frontend.name'|trans }}</th>
                                <th>{{ 'frontend.sku'|trans }}</th>
                                <th>{{ 'frontend.note'|trans }}</th>
                                <th>{{ 'frontend.product_size'|trans }}</th>
                                <th>{{ 'frontend.quantity'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in grouped_item.items %}
                                {% set productVariant = item.skuItem.productVariant %}
                                {% set product = productVariant.product %}

                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        {% if product.images|length > 0 %}
                                            <img src="{{ product.images.first.path|imagine_filter('s100x100') }}" />
                                        {% endif %}
                                    </td>
                                    <td>{{ productVariant.product.name }}</td>
                                    <td>{{ productVariant.sku }}</td>
                                    <td>{{ item.note }}</td>
                                    <td>{{ productVariant.humanSize }}</td>
                                    <td>{{ item.quantity }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <input type="submit" class="btn btn-primary" value="{{ 'frontend.export'|trans }}" />
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            {% endfor %}

            {% for grouped_item in grouped_custom_items_by_factory %}
                <div role="tabpanel" class="tab-pane" id="custom-{{ grouped_item.factoryName|md5 }}">
                    <h3>{{ grouped_item.factoryName }}</h3>

                    <form method="get" action="{{ path('specification_export', {specification: specification.id}) }}">
                        <input type="hidden" name="mode" value="custom" />
                        <input type="hidden" name="factory_name" value="{{ grouped_item.factoryName }}" />

                        <table class="table">
                            <thead>
                            <tr class="text-center">
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="number" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="photo" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="name" checked /><span class="check"></span></label></th>
                                <th><label class="checkbox-entry"><input type="checkbox" name="fields[]" value="quantity" checked /><span class="check"></span></label></th>
                            </tr>

                            <tr class="table-title">
                                <th>#</th>
                                <th>{{ 'frontend.photo'|trans }}</th>
                                <th>{{ 'frontend.name'|trans }}</th>
                                <th>{{ 'frontend.quantity'|trans }}</th> 
                            </tr>
                            </thead>

                            <tbody>
                                {% for item in grouped_item.items %}
                                    {% set custom_item = item.customItem %}

                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>
                                            {% if custom_item.image and custom_item.image.path %}
                                                <img src="{{ custom_item.image.path|imagine_filter('s100x100') }}" width="100" height="100" />
                                            {% endif %}
                                        </td>

                                        <td>{{ custom_item.name }}</td>
                                        <td>{{ item.quantity }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <input type="submit" class="btn btn-primary" value="{{ 'frontend.export'|trans }}" />
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block specification_export_header %}
<div class="row specification-edit-head" style="margin-top: 40px;">
    <div class="col-sm-3 information-entry">
        <div class="information-blocks form-horizontal specification-info">
            <div class="article-container style-1">
                <h5>{{ 'frontend.specficatior.client_lable'|trans }}</h5>

                <div class="editable buyer" id="specification-buyer" style="padding-top:0;margin-bottom:15px;">
                    {{ specification.buyer|default('None') }}
                </div>

                <h5>{{ 'frontend.specficatior.client_contact_lable'|trans }}</h5>
                <p>
                    {{ specification.buyer ? specification.buyer.email }}<br/>
                    {{ specification.buyer ? specification.buyer.phone }}
                </p>

                <h5>Description</h5>
                <div class="name editable" style="padding-top:0;margin-bottom:15px;" id="specification-name">{{ specification.name }}</div>

                <h5>{{ 'frontend.specficatior.description_lable'|trans }}</h5>
                <div class="description editable" id="specification-description" style="padding-top:0;margin-bottom:15px;">
                    {{ specification.description|default('None') }}
                </div>

                {% if specification.buyer and specification.buyer.hasSale() %}
                    <h5>{{ 'frontend.sale'|trans }}</h5>
                    <p>{{ specification.buyer.sale }}%</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-4 information-entry">
        <div class="information-blocks form-horizontal specification-info pull-right">
            <img src="{{ specification.creator.retailerProfile.logoImage ? specification.creator.retailerProfile.logoImage.path|imagine_filter('s201x203') : '/img/201x203.png' }}" alt="" class="imgmedia-object" />
        </div>
    </div>

    <div class="col-sm-5 information-entry">
        <h3 class="block-title main-heading">{{ specification.creator.retailerProfile.name }}</h3>

        <div class="article-container style-1">
            <h5>Manager</h5>
            <p>
                {{ specification.creator.user.fullName }}<br />
                {{ specification.creator.user.customer.email }}
            </p>

            <h5>Company address</h5>
            <p>{{ specification.creator.retailerProfile.address }}</p>

            <h5>Contact Informations</h5>
            <p>
                Retailer Email: {{ specification.creator.retailerProfile.emails|join(', ') }}<br>
                Toll-free: {{ specification.creator.retailerProfile.phones|join(', ') }}
            </p>
        </div>
    </div>
</div>
{% endblock %}