{% extends 'FrontendBundle:Profile/User:base.html.twig' %}

{% block title %}{{ 'frontend.edit'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ 'frontend.edit'|trans }}</a>
{% endblock %}

{% block page_content %}
    {{ form_start(form, {'attr': {'class': 'col-sm-9', 'data-confirm': 'true'}}) }}
    {% if form.vars.errors|length > 0 %}
        {{ form_errors(form) }}
    {% endif %}

    {{ form_row(form.email) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.retailerUserProfile.position) }}
    {{ form_row(form.retailerUserProfile.phones) }}

    {{ form_rest(form) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 text-right">
            <button type="submit" class="btn btn-success">{{ 'frontend.save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
    <script>
        (function($) {
            var email = "{{ app.user.email }}";
            $('form[data-confirm]').on('submit', function(e) {
                var newEmail = $(this).find('#frontend_user_profile_type_email').val();
                if (email !== newEmail) {
                    $(this).data('confirm', true);
                    $(this).data('message', "{{ 'frontend.retailer_profile_side.managers.email_change_confirmation'|trans }}");
                }
                else {
                    $(this).data('confirm', false);
                    $(this).data('message', "");
                }
            });
        })(jQuery);
    </script>
{% endblock %}