{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% block topbar %}
    <ol class="breadcrumb">
        <li><a href="{{ path('sylius_backend_product_index') }}">Products</a></li>
        <li><a href="{{ path('sylius_backend_product_show', {id: product.id}) }}">{{ product.name }}</a></li>
        <li>Modifiers</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{  buttons.create(path('furniture_backend_product_pattern_modifier_create', {productId: product.id})) }}
        </div>

        <h1><i class="glyphicon glyphicon-list-alt"></i> Modifiers</h1>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for modifier in product_pattern_modifiers %}
            <tr>
                <td>{{ modifier.name }}</td>

                <td>
                    {{ buttons.edit(path('furniture_backend_product_pattern_modifier_update', {productId: product.id, id: modifier.id})) }}
                    {{ buttons.delete(path('furniture_backend_product_pattern_modifier_delete', {productId: product.id, id: modifier.id})) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}