{% extends 'FrontendBundle::layout.html.twig' %}
{% from 'FrontendBundle:Macros:misc.html.twig' import pagination %}
{% from 'FrontendBundle:Macros:products.html.twig' import filter_panel, sorting_panel, product_grid_view %}

{% block title %} {{ 'frontend.products'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'frontend.title.homepage'| trans }}</a>
    <a href="{{ path('catalog') }}">{{ 'frontend.title.catalog'| trans }}</a>
{% endblock %}

{% block content %}
    {{ sorting_panel(filters, 'top', pagination(products)) }}
    <div class="row">
        {# Left side catalog menu #}
        <div class="col-md-2 col-sm-3">
            <div class="sidebar-block">
                {# Catalog space selector #}
                {{ filter_panel(spaces, space_ids, 'space', 'frontend.catalog.space_selector'| trans) }}

                {# Category selector #}
                {{ filter_panel(categories, category_ids, 'category', 'frontend.catalog.category_selector'| trans) }}

                {# Type selector #}
                {{ filter_panel(types, type_ids, 'type', 'frontend.catalog.type_selector'| trans) }}

                {# Catalog brand selector #}
                {{ filter_panel(brands, factory_ids, 'brand', 'frontend.catalog.brand_filter'| trans) }}

                {# Style selector #}
                {{ filter_panel(styles, style_ids, 'style', 'frontend.catalog.style_selector'| trans) }}

                {# Composite collection selector #}
                {{ filter_panel(composite_collections, composite_collection_ids, 'cc', 'frontend.catalog.composite_collection_selector'| trans) }}
            </div>
        </div>
        <div class="col-md-10 col-sm-9">
            <div class="row shop-grid grid-view">
            {% for product in products %}
                {{ product_grid_view(product) }}
            {% endfor %}
            </div>
        </div>
    </div>
    {{ sorting_panel(filters, 'bottom', pagination(products)) }}
{% endblock %}