{% extends 'FrontendBundle::layout.html.twig' %}
{% from 'FrontendBundle:Macros:misc.html.twig' import pagination %}

{% block title %} {{ 'frontend.products'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'frontend.title.homepage'|trans }}</a>
    <a href="#">{{ 'frontend.title.products' }}</a>
{% endblock %}

{% block content %}

    <div class="information-blocks">
        <div class="row">
            <div class="col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">

                <div class="page-selector">
                    {{ pagination(products) }}
                    <div class="shop-grid-controls">
                        <div class="entry">
                            <div class="inline-text">Sorty by</div>
                            <div class="simple-drop-down">
                                <select name="sorting">
                                    <option>Position</option>
                                    <option>Price</option>
                                    <option>Category</option>
                                    <option>Rating</option>
                                    <option>Color</option>
                                </select>
                            </div>
                            <div class="sort-button"></div>
                        </div>
                        <div class="entry">
                            <div class="view-button active grid"><i class="fa fa-th"></i></div>
                            <div class="view-button list"><i class="fa fa-list"></i></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row shop-grid grid-view">

                    {% for product in products %}
                        {% include 'FrontendBundle:Catalog:products/item.html.twig' with {'product' : product} %}
                    {% endfor %}

                </div>
                <div class="page-selector">
                    <div class="description">Showing: {{ products.getCurrentPageOffsetStart() }}-{{ products.getCurrentPageOffsetEnd() }} of {{ products.getNbResults() }}</div>
                    {{ pagination(products) }}
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8 blog-sidebar">
                <div class="information-blocks">
                    <div class="block-title size-2" style="border-bottom:0;margin-bottom:0">Select space</div>
                    <select class="form-control" onchange="location = this.options[this.selectedIndex].value;">
                        {% for taxon in category.taxons %}
                            <option  value="{{ path('products', {'category_permalink':taxon.permalink}) }}" {% if taxon.permalink == app.request.attributes.get('_route_params')['category_permalink'] %} selected="selected" {% endif %}>
                            {{ taxon.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

{% endblock %}    