{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}{{ factory.name }} :: {{ 'frontend.title.factories'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'frontend.title.homepage'|trans }}</a>
    <a href="{{ path('factory_side_list') }}">{{ 'frontend.title.factories'|trans }}</a>
    <a href="{{ path('factory_side_general', {factory: factory.id}) }}">{{ factory.name }}</a>
{% endblock %}

{% block content %}
    <div class="information-blocks">
        {{ knp_menu_render_factory_side(factory, {template: 'FrontendBundle:FactorySide/Common:menu.html.twig'}) }}

        <div class="row">
            <div class="col-md-12 information-entry">
                {% block factory_side_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}