{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}{{ factory.name }} :: {{ 'frontend.title.factories'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'frontend.title.homepage'|trans }}</a>
    <a href="{{ path('factory_side_list') }}">{{ 'frontend.title.factories'|trans }}</a>
    <a href="{{ path('factory_side_general', {factory: factory.id}) }}">{{ factory.name }}</a>
{% endblock %}

{% block breadcrumb_container %}
    {% if app.user.isRetailer()
        and not factory_retailer_relation
        and not factory.defaultRelation.accessProducts %}
        <div class="pull-right">
            <a href="{{ path('retailer_profile_factory_relation_create', {factory: factory.id}) }}" class="btn btn-success">
                <i class="fa fa-plus"></i>
                {{ 'frontend.create_to_factory_relation'|trans }}
            </a>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="information-blocks">
        {{ knp_menu_render_factory_side(factory, {template: 'FrontendBundle:FactorySide/Common:menu.html.twig'}) }}

        <div class="row">
            <div class="col-md-12 information-entry">
                {% block factory_side_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}