{% extends 'FrontendBundle:FactorySide:base.html.twig' %}

{% block title %}{{ 'frontend.title.contacts'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="{{ path('factory_side_contacts', {factory: factory.id}) }}">{{ 'frontend.title.contacts'|trans }}</a>
{% endblock %}

{% block factory_side_content %}
    <div class="factory-contacts">
        {% for contact in contacts %}
            <div class="contact">
                <div class="contact-header">
                    <div class="name">{{ contact.translate.name }}</div>
                    <div class="department">{{ contact.departmentName }}</div>
                </div>

                <div class="body">
                    <div class="address">
                        <i class="fa fa-location-arrow"></i>
                        {{ contact.address }}
                    </div>

                    {% if contact.phones|length %}
                        <div class="phones">
                            {% for phone in contact.phones %}
                                <div class="phone">
                                    <i class="fa fa-phone"></i>
                                    <a href="tel:{{ phone }}">{{ phone }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if contact.emails|length %}
                        <div class="emails">
                            {% for email in contact.emails %}
                                <div class="email">
                                    <i class="fa fa-envelope-o"></i>
                                    <a href="mailto:{{ email }}">{{ email }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if contact.sites|length %}
                        <div class="sites">
                            {% for site in contact.sites %}
                                <div class="site">
                                    <i class="fa fa-steam"></i>
                                    <a href="{{ site }}" target="_blank">{{ site|format_url(['host']) }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="clearfix"></div>
    </div>
{% endblock %}