{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}{{ 'frontend.title.retailer_profile'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'frontend.title.homepage'|trans }}</a>
    <a href="{{ path('retailer_profile') }}">{{ 'frontend.title.retailer_profile'|trans }}</a>
{% endblock %}

{% block content %}
    <div class="row information-blocks">
        {% block left_content_container %}
            <div class="col-sm-3">
                {% block left_content %}
                    <div class="categories-list">
                        <div class="block-title size-3">{{ 'frontend.retailer_profile'|trans }}</div>

                        {% if app.user.isRetailer() and app.user.retailerUserProfile.isRetailerAdmin() %}
                            {{ knp_menu_render('frontend.retailer_admin_profile', {template: 'FrontendBundle:Profile/Common:menu.html.twig'}) }}
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        {% block right_content_container %}
            <div class="col-sm-9">
                {% block page_content %}{% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}