{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}{{ 'frontend.title.retailer_profile'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'frontend.title.homepage'|trans }}</a>
    <a href="{{ path('retailer_profile') }}">{{ 'frontend.title.retailer_profile'|trans }}</a>
{% endblock %}

{% block messages '' %}

{% block content %}
    <div class="row information-blocks">
        {% block left_content_container %}
            <div class="col-sm-3">
                {% block left_content %}
                    <div class="categories-list">
                        <div class="block-title size-3">{{ 'frontend.retailer_profile'|trans }}</div>
                        {{ knp_menu_render('frontend.retailer_admin_profile', {template: 'FrontendBundle:Profile/Common:menu.html.twig'}) }}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        {% block right_content_container %}
            <div class="col-sm-9">
                {% for type in ['success', 'info', 'warning', 'error'] %}
                    {% for flash in app.session.flashbag.get(type) %}
                        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block page_content %}{% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}