{% extends 'FrontendBundle:Profile/Retailer:base.html.twig' %}

{% block title %}{{ 'frontend.title.dashboard'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ 'frontend.title.dashboard'|trans }}</a>
{% endblock %}

{% block page_content %}
    {% if app.user.isRetailer() %}
        {% if is_granted('RETAILER_EDIT', retailer) %}
        <div class="row">
            <div class="col-sm-1 col-sm-push-11">
                <a href="{{ path('retailer_profile_edit') }}" class="btn btn-edit">
                    {{ 'frontend.edit'|trans }}
                </a>
            </div>
        </div>
        {% endif %}
        <div class="row retailer-profile">
            <div class="col-sm-6 text-center">
                {% if is_granted('RETAILER_EDIT', retailer) %}
                    <div class="image-ajax-container" data-full-name="logo[path]" data-url-upload="{{ path('retailer_profile_logo_upload') }}"{% if retailer.logoImage and retailer.logoImage.path %} data-image-path="{{ retailer.logoImage.path|imagine_filter('s200x200') }}"{% endif %}>
                        <div class="image-upload">
                            <img data-src="holder.js/200x200?text=Choose image" />
                        </div>

                        <div class="form-widget">
                            <input type="hidden" name="logo[path]" />
                        </div>

                        <div class="image-container">
                            <div class="image">
                                <img min-width="200" min-height="200" src="" />
                            </div>

                            <a class="mv-remove" href="#remove-image" data-toggle="tooltip" title="Remove image">
                                <i class="fa fa-remove"></i>
                            </a>
                        </div>
                    </div>
                {% else %}
                    {% if retailer.logoImage and retailer.logoImage.path %}
                        <img src="{{ retailer.logoImage.path|imagine_filter('s200x200') }}" />
                    {% else %}
                        <img data-src="holder.js/200x200?text=Logo" />
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-sm-6">
                <div class="retailer-dashboard article-container style-1">
                    <h3>{{ app.user.retailerUserProfile.retailerProfile.name }}</h3>

                    {% if app.user.retailerUserProfile.retailerProfile.address %}
                        <div class="address">
                            <ul>
                                <li>{{ app.user.retailerUserProfile.retailerProfile.address }}</li>
                            </ul>
                        </div>
                    {% endif %}

                    {% if app.user.retailerUserProfile.retailerProfile.phones|length > 0 %}
                        <div class="phones">
                            <ul>
                                {% for phone in app.user.retailerUserProfile.retailerProfile.phones %}
                                    <li>{{ phone }}{% if not loop.last %}, {% endif %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if app.user.retailerUserProfile.retailerProfile.emails|length > 0 %}
                        <div class="emails">
                            <ul>
                                {% for email in app.user.retailerUserProfile.retailerProfile.emails %}
                                    <li>{{ email }}{% if not loop.last %},{% endif %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if app.user.retailerUserProfile.retailerProfile.website %}
                        <div class="website">
                            <ul>
                                <li>
                                    <a href="{{ app.user.retailerUserProfile.retailerProfile.website }}" target="_blank">
                                        {{ app.user.retailerUserProfile.retailerProfile.website }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function ($) {
            var q = new ImageAjax($('.image-ajax-container'), {
                onRemove: function () {
                    bootbox.confirm('{{ 'frontend.are_you_sure_remove_logo'|trans }}', function(result) {
                        if (result) {
                            $.ajax({
                                url: '{{ path('retailer_profile_logo_remove') }}',
                                method: 'POST',
                                success: function () {
                                    q.setImagePath('');
                                    q.viewImageUpload();
                                }
                            });
                        }
                    });

                    return false;
                }
            });
        })(jQuery);
    </script>
{% endblock %}