{% extends 'FrontendBundle:Profile/Retailer:base.html.twig' %}

{% block title %}{{ 'frontend.edit'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ 'frontend.edit'|trans }}</a>
{% endblock %}

{% block page_content %}
    {{ form_start(form, {'attr': {'class': 'col-sm-9'}}) }}
    {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9 text-right">
                <button type="submit" class="btn btn-success">{{ 'frontend.save'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
                function initAutocomplete() {
                    $('.google-address-autocomplete').each(function(){
                        autocomplete = new google.maps.places.Autocomplete(
                            (this),
                            {types: ['geocode']}
                        );
                    });
                }
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_api_maps_key }}&signed_in=true&libraries=places&callback=initAutocomplete" >
    </script>
{% endblock %}