{% extends 'FrontendBundle:Profile/Retailer:base.html.twig' %}

{% block title %}{{ 'frontend.edit'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ 'frontend.edit'|trans }}</a>
{% endblock %}

{% block page_content %}
    <form class="form" method="POST" action="">
        {{ form_widget(form) }}

        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    </form>
{% endblock %}