{% extends 'FrontendBundle:Profile/Retailer:base.html.twig' %}

{% block title %}{{ 'frontend.edit'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ 'frontend.edit'|trans }}</a>
{% endblock %}

{% block page_content %}
    {{ form_start(form, {'attr': {'class': 'col-sm-9'}}) }}
    {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9 text-right">
                <button type="submit" class="btn btn-success">{{ 'frontend.save'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    {% javascripts '@WebBundle/Resources/public/js/google-maps.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    </script>
    <script type="text/javascript">
        window.googleMapsApiKey = "{{ google_api_maps_key }}";
        (function ($) {
            $(document).ready(function () {
                var addressAutoComplete = $('.address-autocomplete');

                initializeGoogleMaps()
                    .then(function () {
                        var autocomplete = new google.maps.places.Autocomplete(addressAutoComplete.get(0), {
                            types: ['geocode']
                        });

                        google.maps.event.addListener(autocomplete, 'place_changed', function () {
                            var location = autocomplete.getPlace().geometry.location;

                            $('input[data-address-latitude]').val(location.lat());
                            $('input[data-address-longitude]').val(location.lng());
                        });
                    });
            });
        })(jQuery);
    </script>
{% endblock %}

