{% extends 'FrontendBundle:Profile/Retailer:base.html.twig' %}

{% block title %}{{ 'frontend.edit'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ 'frontend.edit'|trans }}</a>
{% endblock %}

{% block page_content %}
    <form class="form" method="POST" action="">
        {{ form_widget(form) }}

        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    </form>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
                function initAutocomplete() {
                    $('.google-address-autocomplete').each(function(){
                        autocomplete = new google.maps.places.Autocomplete(
                            (this),
                            {types: ['geocode']}
                        );
                    });
                }
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_api_maps_key }}&signed_in=true&libraries=places&callback=initAutocomplete" >
    </script>
{% endblock %}