<div data-input-container="popup-select" data-input-id="{{ input.id }}" class="detail-info-entry">
    {# <a class="button style-12 open-input" data-popup-id="input-popup-{{ input.id }}">{{ input.humanName }}</a> #}
    <div class="detail-info-entry open-input" style="margin-top: 50px;">
        <div class="detail-info-entry-title">{{ input.humanName }}</div>
        <a class="pdp-button button open-input" data-popup-id="input-popup-{{ input.id }}">
            <span class="button-content button style-12">Select</span>
            <div class="material-entry selected hidden">{# add hidden class #}
                <div class="image">
                    <img src="http://devfortest-01.agenta.solutions/media/cache/s100x100/38/dd/665050f16b0168a464f9a6b4bdff.jpeg" alt="">
                </div>
                <div class="caption" style="background: white none repeat scroll 0% 0%;">>Havana - ND Opaque walnut, indian ink coloured Havana - ND Opaque walnut, indian ink coloured </div>
            </div>
        </a>
    </div>
    <div id="input-popup-{{ input.id }}" class="overlay-popup agenta-popup">
        <div class="overflow">
            <div class="table-view">
                <div class="cell-view">
                    <div class="close-layer"></div>
                    <div class="popup-container">
                        <h3 class="block-title">{{ input.humanName }}</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                Filter block
                            </div>
                            <div class="col-sm-8">
                                <div class="accordeon">
                                    <div class="accordeon-title"><h4>Materials</h4></div>
                                    <div class="accordeon-entry">
                                        <div class="article-container style-1 material-selector">
                                            {% if input.option %}

                                            {% elseif input.skuOption %}aaa

                                            {% elseif input.productPart %}
                                                {% for productPartVariantSelection in input.productPartMaterialsVariantSelections %}
                                                    <div class="material-entry" data-input-variant="{{ productPartVariantSelection.productPartMaterialVariant.id }}">
                                                        <div class="image">
                                                            {% if productPartVariantSelection.productPartMaterialVariant.image %}
                                                                <img src="{{ productPartVariantSelection.productPartMaterialVariant.image.path|imagine_filter('s100x100') }}" alt="">
                                                            {% else %}
                                                                <img src="/img/100x100.png" alt="">
                                                            {% endif %}
                                                        </div>
                                                        <div class="caption">{{ productPartVariantSelection.productPartMaterialVariant.name }}</div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="close-popup"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>