{% extends 'FrontendBundle:Profile/Factory/DefaultRelation:base.html.twig' %}

{% block title %}{{ 'frontend.title.view'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ 'frontend.title.view'|trans }}</a>
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{{ 'frontend.title.default_relation'|trans }}</h1>
    </div>
    <div>
        <a href="{{ path('factory_profile_default_relation_edit') }}" class="btn btn-edit btn-xs">{{ 'frontend.edit'|trans }}</a>
    </div>
    <p class="lead-text"></p>
    <div class="list-group col-sm-3">
        <div class="list-group-item">
            <i class="pull-right fa fa-{{ default_relation.accessProducts ? 'check' : 'remove' }}"></i>
            {{ 'frontend.products_view'|trans }}
        </div>
        <div class="list-group-item">
            <i class="pull-right fa fa-{{ default_relation.accessProductsPrices ? 'check' : 'remove' }}"></i>
            {{ 'frontend.product_prices_view'|trans }}
        </div>
    </div>
{% endblock %}