<div class="col-md-3 col-sm-4 shop-grid-item" data-factory="{{ product.factory.name }}">
    <div class="product-slide-entry">
        <div class="product-image">
            {% if product.getImage() %}
                <img src="{{ product.image.path|imagine_filter('s200x250') }}" alt="" />
            {% endif %}
            <div class="bottom-line">
                <a class="bottom-line-a" href="{{ path('product', {'product':product.id}) }}" >{{ 'frontend.detailed' | trans }}</a>
            </div>
        </div>
            {#
        {% if product.taxons %}
            {% for taxon in product.taxons %}
                <a class="tag" href="{{ path('products', {
                                                            'category_permalink':app.request.attributes.get('_route_params')['category_permalink'],
                                                            'taxons[]':taxon.id
                                            }) 
                                    }}">
                    {{ taxon.name }}
                </a>
            {% endfor %}
        {% endif %}
        #}
        
        <h4 class="pgp-product-title"><a class="title" href="{{ path('product', {'product':product.id}) }}">
            {% if product.factoryCode != '' %}
                <small>{{ product.factoryCode }}</small> 
            {% endif %}
            {{ product.name }}</a>
        </h4>
        <h6 class="pgp-product-factory">{{ product.factory.name }}</h6>

        <div class="price">
            <div class="current">
                {% if is_granted('VIEW_PRICE', product) %}
                    {{ product|product_price|money }}
                {% endif %}
            </div>
        </div>
        <div class="list-buttons">
            <a class="button style-10" href="{{ path('product', {'product':product.id}) }}">{{ 'frontend.detailed' | trans }}</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
