{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% block title %}{{ 'composite_collection.header.index'|trans }} :: {{ parent() }}{% endblock %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'composite_collection.breadcrumb.index'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{ buttons.create(path('furniture_backend_composite_collection_create'), 'composite_collection.button.create'|trans) }}
        </div>
        <h1><i class="glyphicon glyphicon-list-alt"></i> {{ 'composite_collection.header.index'|trans|raw }}</h1>
    </div>

    {{ pagination(composite_collections) }}

    {% if composite_collections|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ sylius_resource_sort('name', 'composite_collection.name'|trans) }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for composite_collection in composite_collections %}
                <tr id="{{ composite_collection.id }}">
                    <td>{{ composite_collection.name }}</td>
                    <td>
                        <div class="pull-right">
                            {{ buttons.edit(path('furniture_backend_composite_collection_update', {id: composite_collection.id})) }}
                            {{ buttons.delete(path('furniture_backend_composite_collection_delete', {id: composite_collection.id})) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ alerts.info('composite_collection.no_results'|trans) }}
    {% endif %}

    {{ pagination(composite_collections) }}

{% endblock %}
