{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %} {{ 'frontend.products'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'frontend.title.homepage'|trans }}</a>
    <a href="#">{{ 'frontend.title.products' }}</a>
{% endblock %}
