{% extends 'FrontendBundle:Product:base.html.twig' %}

{% block title %}{{ product.name }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ product.name }}</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='static/js/widget/.*.js'
                        'static/js/widget/variant_data_container.js'
                        'static/js/widget/variant.js'
                        'static/js/widget/variant_table.js'
                        'static/js/widget/variant_buy_btn.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="information-blocks">
        <div class="row">
            <div class="col-sm-6 information-entry">
                <div class="product-preview-box">
                </div>
            </div>

            <div class="col-sm-6 information-entry">
                <div class="product-detail-box">
                    <h1 class="product-title">{{ product.name }}</h1>
                    <h3 class="product-subtitle">{{ product.shortDescription }}</h3>

                    <div class="product-description detail-info-entry">{{ product.description }}</div>

                    <div class="price detail-info-entry">
                        <div class="prev"></div>
                        <div class="current">{{ (prices.min / 100)|round(2) }} - {{ (prices.max / 100)|round(2) }} EUR</div>
                    </div>
                    
                    <div id="skuoption" class="options-selector detail-info-entry">

                    </div>

                    <div class="quantity-selector detail-info-entry">
                        <div class="detail-info-entry-title">{{ 'frontend.quantity'|trans }}</div>
                        <div class="entry number-minus">&nbsp;</div>
                        <div class="entry number">{{ quantity }}</div>
                        <div class="entry number-plus">&nbsp;</div>
                    </div>

                    {% if update_specification_item %}
                        <div class="update-specification-item detail-info-entry">
                            <button data-specification-item-id="{{ specification_item.id }}" type="button" class="button style-10 btn btn-default" style="border-radius:0; width:auto; max-width:300px;">{{ 'frontend.update_specification'|trans }}</button>
                        </div>
                    {% else %}
                        <div class="add-to-specification detail-info-entry">
                            <div class="btn-group">
                                <button type="button" class="button style-10 btn btn-default" style="border-radius:0; width:auto; max-width:300px;">{{ 'frontend.add_to_specification'|trans }}</button>
                                <button type="button" class="button style-10 btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:0;width:50px;min-width:50px;">
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" class="new-specification">{{ 'frontend.new_specification'|trans }}</a>
                                    </li>

                                    <li role="separator" class="divider"></li>

                                    {% for specification in specifications %}
                                        <li>
                                            <a href="#" data-specification-id="{{ specification.id }}">{{ specification.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function ($) {

            var sku_matrix = {{ sku_matrix|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
            //console.log(sku_matrix);

            var variants_container = new variant_data_container(sku_matrix);
            
            var variant = $('#skuoption').variant({
                data_container: variants_container
            });
            
            {% if active_variant_matrix %}
                variants_container.setFilters({{ active_variant_matrix|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }});
            {% endif %}
            
            {% if not update_specification_item %}
            $('.add-to-specification a').click(function(){
                var el = $(this);
                
                if(variants_container.getFiltered().length == 1){
                    quantity = parseInt($('.quantity-selector .entry.number').text());
                        var url = '{{ path('specification_api_specification_add_item') }}',
                            data = {
                                id: variants_container.getFiltered()[0].id,
                                quantity: quantity,
                                specification: parseInt($(this).attr('data-specification-id'))
                            };

                        $.ajax({
                            url: url,
                            data: data,
                            method: 'POST',
                            success: function () {
                                alert('Successfully add product to specification.');
                                addSpecificationProcessed = false;
                            },
                            error: function () {
                                alert('Error with add product to specification.');
                                addSpecificationProcessed = false;
                            }
                        });
                }                
            });
            {% else %}
            $('.update-specification-item button').click(function(){
                var el = $(this);
                console.log(variants_container.getFiltered());
                if(variants_container.getFiltered().length == 1){
                    
                    
                    quantity = parseInt($('.quantity-selector .entry.number').text());
                    
                    var url = '{{ path('specification_api_specification_item_edit', {item: specification_item.id}) }}',
                        data = {
                            id: variants_container.getFiltered()[0].id,
                            quantity: quantity
                        };

                        $.ajax({
                            url: url,
                            data: data,
                            method: 'POST',
                            success: function () {
                                window.location = '{{ path('specification_edit', {specification: specification_item.specification.id, item: specification_item.id}) }}'
                            },
                            error: function () {
                                alert('Error with update specification item. Please try again.');
                            }
                        });
                }                
            });   
            {% endif %}
            })(jQuery);
    </script>
{% endblock %}