{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %} {{ 'frontend.products'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'frontend.title.homepage'|trans }}</a>
    <a href="#">{{ 'frontend.title.products' }}</a>
{% endblock %}

{% block content %}

    <div class="information-blocks">
        <div class="row">
            <div class="col-md-12 col-md-push-0 col-sm-8 col-sm-push-4">
                <div class="page-selector">
                    <div class="pages-box hidden-xs">
                        <a href="shop.html#" class="square-button active">1</a>
                        <a href="shop.html#" class="square-button">2</a>
                        <a href="shop.html#" class="square-button">3</a>
                        <div class="divider">...</div>
                        <a href="shop.html#" class="square-button"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="shop-grid-controls">
                        <div class="entry">
                            <div class="inline-text">Sorty by</div>
                            <div class="simple-drop-down">
                                <select>
                                    <option>Position</option>
                                    <option>Price</option>
                                    <option>Category</option>
                                    <option>Rating</option>
                                    <option>Color</option>
                                </select>
                            </div>
                            <div class="sort-button"></div>
                        </div>
                        <div class="entry">
                            <div class="view-button active grid"><i class="fa fa-th"></i></div>
                            <div class="view-button list"><i class="fa fa-list"></i></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row shop-grid grid-view">

                    {% for product in products %}
                        {% include 'FrontendBundle:Product:products/item.html.twig' with {'product' : product} %}
                    {% endfor %}
                    
                </div>
                <div class="page-selector">
                    <div class="description">Showing: 1-3 of 16</div>
                    <div class="pages-box">
                        <a href="shop.html#" class="square-button active">1</a>
                        <a href="shop.html#" class="square-button">2</a>
                        <a href="shop.html#" class="square-button">3</a>
                        <div class="divider">...</div>
                        <a href="shop.html#" class="square-button"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="tabs-entry">
            <div class="products-swiper">
                {{ sonata_block_render({type: 'frontend.block.factories'}, {newest: true}) }}
            </div>
        </div>

        <div class="tabs-entry">
            <div class="products-swiper">
                {{ sonata_block_render({type: 'frontend.block.products'}) }}
            </div>
        </div>
    </div>

{% endblock %}    