{% extends 'FrontendBundle:Product:base.html.twig' %}

{% block title %}{{ product.name }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ product.name }}</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {% stylesheets output='/css/*.min.css'
    %}
        <link type="text/css" href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {#
    For 3D
    'static/js/3d/three.js'
    'static/js/3d/OBJLoader.js'
    'static/js/3d/Projector.js'
    #}
    {{ parent() }}
    {% javascripts output='/js/*.min.js'
                        '@FrontendBundle/Resources/public/js/list.min.js'
                        '@FrontendBundle/Resources/public/js/product/widget/variant_data_container.js'
                        '@FrontendBundle/Resources/public/js/product/widget/variant_pattern_data_container.js'
                        '@FrontendBundle/Resources/public/js/product/widget/variant_buy_btn.js'
                        '@FrontendBundle/Resources/public/js/product/widget/pdp.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="information-blocks">
        <div class="row">
            <div class="col-sm-6 information-entry">
                <div class="tabs-container">
                    <div class="swiper-tabs tabs-switch">
                        <div class="title">{{ 'frontend.product.media_tab.title'|trans }}</div>
                        <div class="list">
                            <a class="block-title tab-switcher active">{{ 'frontend.product.media_tab.images'|trans }}</a>
                            <a class="block-title">{{ 'frontend.product.media_tab.model'|trans }}</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div>
                        <div class="tabs-entry">
                            {% if product.images|length > 0 %}
                                <div class="product-preview-box">
                                    <div class="swiper-container product-preview-swiper product-gallery" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                                        <div class="swiper-wrapper">
                                            {% for image in product.images %}
                                                <div class="swiper-slide">
                                                    <div class="product-zoom-image">
                                                        <img src="{{ image ? image.path|imagine_filter('s570x427') : '/img/200x200.png' }}" alt="{{ product.name }}" data-zoom="{{ image ? image.path : '/img/200x200.png' }}" />
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="pagination"></div>
                                        <div class="product-zoom-container">
                                            <div class="move-box">
                                                <img class="default-image" src="{{ product.image ? product.image.path : 'http://placehold.it/200x200' }}" alt="" />
                                                <img class="zoomed-image" src="{{ product.image ? product.image.path : 'http://placehold.it/200x200' }}" alt="" />
                                            </div>
                                            <div class="zoom-area"></div>
                                        </div>
                                    </div>
                                    <div class="swiper-hidden-edges">
                                        <div class="swiper-container product-thumbnails-swiper" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="3" data-int-slides="3" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                                            <div class="swiper-wrapper">
                                                {% if product.images|length > 0 %}
                                                    {% for image in product.images %}
                                                        <div class="swiper-slide">
                                                            <div class="paddings-container">
                                                                <img src="{{ image.path|imagine_filter('sylius_small') }}" alt="{{ product.name }}" />
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tabs-entry">
                            <div style="width:540px;height:360px" id="model_viewer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 information-entry">
                <div class="product-detail-box">
                    <h1 class="product-title" style="margin-bottom: 7px;">
                        {% if product.factoryCode != '' %}
                            <small>{{ product.factoryCode }}</small> 
                        {% endif %}
                        {{ product.name }}
                    </h1>
                    <h3 class="product-title--factory" style="padding-bottom: 10px;">
                        <a href="{{ path('products', {brand: [product.factory.id]}) }}">{{ product.factory.name }}</a> 
                        {% if not product.types.isEmpty() %}
                            <span style="margin:0 5px;">></span> 
                            <a href="{{ path('products', {type: [product.types.first.id]}) }}">
                            {{ product.types.first }}
                            </a>
                        {% endif %}
                    </h3>


                    <div class="product-description detail-info-entry">{{ product.description|raw }}</div>

                    <div class="price detail-info-entry">
                        <div class="current" id="prices"></div>
                    </div>
                    <div class="options-selector detail-info-entry">
                        {% for input in product.PdpConfig.inputs %}
                            {% if input.type is constant('\\Furniture\\ProductBundle\\Entity\\ProductPdpInput::SELECT_DEFAULT_TYPE') %}
                                {% include 'FrontendBundle:Product/PdpInputs:default_select.html.twig' with {'input':input} %}
                            {% elseif input.type is constant('\\Furniture\\ProductBundle\\Entity\\ProductPdpInput::SELECT_INLINE_TYPE') %}
                                {% include 'FrontendBundle:Product/PdpInputs:inline_select.html.twig' with {'input':input} %}
                            {% elseif input.type is constant('\\Furniture\\ProductBundle\\Entity\\ProductPdpInput::SELECT_POPUP_TYPE') %}
                                {% include 'FrontendBundle:Product/PdpInputs:popup_select.html.twig' with {'input':input} %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="quantity-selector detail-info-entry">
                        <div class="detail-info-entry-title">{{ 'frontend.quantity'|trans }}</div>
                        <div class="entry number-minus">&nbsp;</div>
                        <div class="entry number">{{ quantity }}</div>
                        <div class="entry number-plus">&nbsp;</div>
                    </div>

                    {% if update_specification_item %}
                        <div class="update-specification-item detail-info-entry">
                            <button data-specification-item-id="{{ specification_item.id }}" type="button" class="button style-10 btn btn-default" style="border-radius:0; width:auto; max-width:300px;">{{ 'frontend.update_specification'|trans }}</button>
                        </div>
                    {% else %}
                        <div class="add-to-specification detail-info-entry">
                            <div id="add-to-spec-widget" class="btn-group" style="width:300px;">
                                <button type="button" class="button style-10 btn btn-default dropdown-btn" style="border-radius:0;max-width:280px;width:280px;">
                                    {{ 'frontend.add_to_specification'|trans }}
                                    <span class="caret"></span>
                                </button>

                                <div class="dropdown-menu">
                                    <div class="specification-search-form">
                                        <form>
                                            <input type="text" placeholder="Search for specification" class="dropdown-search search">
                                            <div class="simple-submit">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </form>
                                    </div>  
                                    <ul class="list specification-list">
                                        {% if specificationsWithBuyer or specificationsWithoutBuyer %}
                                            {% for specification in specificationsWithoutBuyer %}
                                                <li>
                                                    <a href="#" class="spec-item button style-9" data-specification-id="{{ specification.id }}">{{ specification.name }}</a>
                                                </li>
                                            {% endfor %}
                                            {% for gspecification in specificationsWithBuyer %}
                                                <li class="dropdown-header notice">{{ gspecification.buyer }}</li>
                                                {% for specification in gspecification.specifications %}
                                                <li>
                                                    <a href="#" class="spec-item button style-9" data-specification-id="{{ specification.id }}">{{ specification.name }}</a>
                                                </li>
                                                {% endfor %}
                                            {% endfor %}
                                        {% else %}
                                            <li class="dropdown-header notice">No active specifications found</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-group" style="width:300px;">
                                
                            </div>
                            <div id="specification-added" class="specification-added alert alert-success" role="alert">Product successfully added</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function ($) {
        $( document ).ready(function(){
            {% if product.hasProductVariantsPatterns() %}
                var pdpInputMapping = {};
                
                {% for input in product.pdpConfig.inputs %}
                    {% if input.option %}
                    {% elseif input.skuOption %}
                        {#
                        pdpInputMapping[{{ input.id }}] = {
                            't' : 'so',
                            'i' : {{ input.option.id }}
                        };
                        #}
                    {% elseif input.productPart %}
                        pdpInputMapping[{{ input.id }}] = {
                            't' : 'pp',
                            'i' : {{ input.productPart.id }}
                        };
                    {% elseif input.forSchemes %}
                        pdpInputMapping[{{ input.id }}] = {
                            't' : 'ps',
                        };
                    {% endif %}
                {% endfor %}
                
                var sku_matrix = [{% for p in sku_matrix %}
                {
                'id':{{p.pattern.id}},
                        'options':{{ p.options|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }},
                        'price':{{ p.pattern.price|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw}}
                },{% endfor %} ];
                
                var pdpDataContainer = new variant_pattern_data_container(sku_matrix);
            {% else %}
                var sku_matrix = [{% for v in sku_matrix %}
                {
                'id':{{v.variant.id}},
                        'options':{{ v.options|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }},
                        'price':{{ v.variant|sku_price|money|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw}}
                },{% endfor %} ];

                var pdpDataContainer = new variant_data_container(sku_matrix);
            {% endif %}

            {% if product.schematicProductType %}
                /*this code need to be migrate to pdp widget js */
                var schemeMapping = {{ schemeMapping|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }}
                var selectSchemeElement = $('#scheme-selector');
                var selectSchemeFilter = selectSchemeElement.parent().data('input-id');
                var selectSchemeCall = function(){
                    $(".detail-info-entry[data-input-id]").hide();
                    var el = $(this);
                    var schemeSelected = el.val();
                    var oldFilters = pdpDataContainer.getFilters();
                    var newFilters = {};
                    newFilters[selectSchemeFilter] = parseInt(schemeSelected);
                    for(filter in schemeMapping[schemeSelected]){
                        if( filter == selectSchemeFilter )
                            continue;
                        var inputId = schemeMapping[schemeSelected][filter];
                        if(oldFilters[filter]){
                            newFilters[filter] = oldFilters[filter];
                        }
                        $(".detail-info-entry[data-input-id="+inputId+"]").show();
                    }
                    pdpDataContainer.setFilters(newFilters);
                };
                selectSchemeElement.change(selectSchemeCall);
                $(document).on('filter:update', function (event) {
                    if( !pdpDataContainer.getFilters()[selectSchemeFilter] ){
                        selectSchemeElement.prop('selectedIndex', -1);
                    }
                });
                $.proxy(selectSchemeCall ,selectSchemeElement)();
            {% endif %}


            $('[data-input-container="default-select"]').pdp_default_select({ 'data_container': pdpDataContainer });
            $('[data-input-container="inline-select"]').pdp_inline_select({ 'data_container': pdpDataContainer });
            $('[data-input-container="popup-select"]').pdp_popup_select({ 'data_container': pdpDataContainer });

            var low_max_price = function () {
                var variants = pdpDataContainer.getFiltered()
                if (variants.length > 1) {
                    var max = 0;
                    var min = 0;
                    variants.forEach(function (variant) {
                        if (
                                min == 0 ||
                                parseFloat(variant.price) < parseFloat(min)
                                ) {
                            min = variant.price;
                        }
                        if (
                                max == 0 ||
                                parseFloat(variant.price) > parseFloat(max)
                                ) {
                            max = variant.price;
                        }
                    });
                }
                var text;
                if (variants.length == 0) {
                    text = 'Unavailable combination'
                } else if (variants.length == 1) {
                    text = variants[0].price;
                } else {
                    text = min + ' - ' + max;
                }

                if (text != $('#prices').text())
                    $('#prices').fadeOut(50, function () {
                        $('#prices').text(text)
                        $('#prices').fadeIn('medium');
                    });
            };

            low_max_price();

            $(document).on('filter:update', function (event) {
                low_max_price();
            });

        {% if active_variant_matrix %}
                pdpDataContainer.setFilters({{ active_variant_matrix|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }});
                /* temporary solution !!!!!!!!!! */
                {% if product.schematicProductType %}
                if(pdpDataContainer.getFilters()[selectSchemeFilter]){
                    selectSchemeElement.val(pdpDataContainer.getFilters()[selectSchemeFilter]);
                    $.proxy(selectSchemeCall ,selectSchemeElement)();
                }
                pdpDataContainer.setFilters({{ active_variant_matrix|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }});
                {% endif %}
                /********/
        {% endif %}

        {% if not update_specification_item %}
            var options = {
                valueNames: [ 'spec-item' ]
            };

            var hackerList = new List('add-to-spec-widget', options);
            
                $('.add-to-specification a').click(function () {
                    var el = $(this);
                    
                    if (pdpDataContainer.getFiltered().length == 1) {
                        quantity = parseInt($('.quantity-selector .entry.number').text());
                        
                        {% if product.hasProductVariantsPatterns() %}
                        var url = '{{ path('specification_api_specification_sku_item_add') }}',
                            data = {
                                id: pdpDataContainer.getFiltered()[0].id,
                                choices: {
                                    'so' : [],
                                    'pp' : [],
                                    'ps' : []
                                },
                                quantity: quantity,
                                specification: parseInt($(this).attr('data-specification-id'))
                            };
                            var filters = pdpDataContainer.getFilters();
                            for( f in pdpDataContainer.getFilters() ){
                                var v = filters[f];
                                var d = {};
                                if( pdpInputMapping[f]['t'] == 'ps' )
                                    d['i'] = v;
                                else{
                                    d[pdpInputMapping[f]['i']] = v;
                                }
                                data['choices'][ pdpInputMapping[f]['t'] ].push( d );
                            }
                            console.log(data);
                            return;
                        {% else %}
                        var url = '{{ path('specification_api_specification_sku_item_add') }}',
                            data = {
                                id: pdpDataContainer.getFiltered()[0].id,
                                quantity: quantity,
                                specification: parseInt($(this).attr('data-specification-id'))
                            };
                        {% endif %}
                        var specification_edit_path = "{{ path('specification_edit', {specification: 123}) }}".replace(/123/ , data.specification);

                        $.ajax({
                            url: url,
                            data: data,
                            method: 'POST',
                            success: function () {
                                //alert('Successfully add product to specification.');
                                $('#specification-added')
                                    .html('Product was successfully added. Go to the <a href="'+ specification_edit_path +'">Specification</a>')
                                    .show();
                                $('.add-to-specification button').dropdown('toggle');
                                addSpecificationProcessed = false;
                            },
                            error: function () {
                                alert('Error with add product to specification.');
                                addSpecificationProcessed = false;
                            }
                        });
                    }else{
                        bootbox.alert('{{ 'frontend.product.pdp.specify_product'|trans }}');
                    }
                    return false;
                });
        {% else %}
                $('.update-specification-item button').click(function () {
                    var el = $(this);
                    if (pdpDataContainer.getFiltered().length == 1) {


                        quantity = parseInt($('.quantity-selector .entry.number').text());

                        var url = '{{ path('specification_api_specification_sku_item_edit', {item: specification_item.id}) }}',
                                data = {
                                    id: pdpDataContainer.getFiltered()[0].id,
                                    quantity: quantity
                                };

                        $.ajax({
                            url: url,
                            data: data,
                            method: 'POST',
                            success: function () {
                                window.location = '{{ path('specification_edit', {specification: specification_item.specification.id, item: specification_item.id}) }}'
                            },
                            error: function () {
                                alert('Error with update specification item. Please try again.');
                            }
                        });
                    }
                });
        {% endif %}
            });
            })(jQuery);
    </script>
{% endblock %}
