{% extends 'FrontendBundle:Product:base.html.twig' %}

{% block title %}{{ product.name }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ product.name }}</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {% stylesheets output='/css/*.min.css'
    %}
        <link type="text/css" href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {#
    For 3D
    'static/js/3d/three.js'
    'static/js/3d/OBJLoader.js'
    'static/js/3d/Projector.js'
    #}
    {{ parent() }}
    {% javascripts output='/js/*.min.js'
                        '@FrontendBundle/Resources/public/js/list.min.js'
                        '@FrontendBundle/Resources/public/js/product/widget/variant_data_container.js'
                        '@FrontendBundle/Resources/public/js/product/widget/variant_buy_btn.js'
                        '@FrontendBundle/Resources/public/js/product/widget/pdp.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="information-blocks">
        <div class="row">
            <div class="col-sm-6 information-entry">
                <div class="tabs-container">
                    <div class="swiper-tabs tabs-switch">
                        <div class="title">{{ 'frontend.product.media_tab.title'|trans }}</div>
                        <div class="list">
                            <a class="block-title tab-switcher active">{{ 'frontend.product.media_tab.images'|trans }}</a>
                            <a class="block-title">{{ 'frontend.product.media_tab.model'|trans }}</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div>
                        <div class="tabs-entry">
                            {% if product.images|length > 0 %}
                                <div class="product-preview-box">
                                    <div class="swiper-container product-preview-swiper" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                                        <div class="swiper-wrapper">
                                            {% for image in product.images %}
                                                <div class="swiper-slide">
                                                    <div class="product-zoom-image">
                                                        <img src="{{ image ? image.path|imagine_filter('sylius_large') : '/img/200x200.png' }}" alt="{{ product.name }}" data-zoom="{{ image ? image.path : '/img/200x200.png' }}" />
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="pagination"></div>
                                        <div class="product-zoom-container">
                                            <div class="move-box">
                                                <img class="default-image" src="{{ product.image ? product.image.path|imagine_filter('sylius_large') : 'http://placehold.it/200x200' }}" alt="" />
                                                <img class="zoomed-image" src="{{ product.image ? product.image.path : 'http://placehold.it/200x200' }}" alt="" />
                                            </div>
                                            <div class="zoom-area"></div>
                                        </div>
                                    </div>
                                    <div class="swiper-hidden-edges">
                                        <div class="swiper-container product-thumbnails-swiper" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="3" data-int-slides="3" data-sm-slides="3" data-md-slides="4" data-lg-slides="4" data-add-slides="4">
                                            <div class="swiper-wrapper">
                                                {% if product.images|length > 0 %}
                                                    {% for image in product.images %}
                                                        <div class="swiper-slide">
                                                            <div class="paddings-container">
                                                                <img src="{{ image.path|imagine_filter('sylius_small') }}" alt="{{ product.name }}" />
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tabs-entry">
                            <div style="width:540px;height:360px" id="model_viewer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 information-entry">
                <div class="product-detail-box">
                    <h1 class="product-title" style="margin-bottom: 7px;">
                        {% if product.factoryCode != '' %}
                            <small>{{ product.factoryCode }}</small> 
                        {% endif %}
                        {{ product.name }}
                    </h1>
                    <h3 class="product-title--factory" style="padding-bottom: 10px;">
                        <a href="{{ path('products', {brand: [product.factory.id]}) }}">{{ product.factory.name }}</a> 
                        {% if not product.types.isEmpty() %}
                            <span style="margin:0 5px;">></span> 
                            <a href="{{ path('products', {type: [product.types.first.id]}) }}">
                            {{ product.types.first }}
                            </a>
                        {% endif %}
                    </h3>


                    <div class="product-description detail-info-entry">{{ product.description }}</div>

                    <div class="price detail-info-entry">
                        <div class="current" id="prices"></div>
                    </div>

                    <div id="skuoption" class="options-selector detail-info-entry">
                        {% for input in product.PdpConfig.inputs %}
                            {% if input.type is constant('\\Furniture\\ProductBundle\\Entity\\ProductPdpInput::SELECT_DEFAULT_TYPE') %}
                                {% include 'FrontendBundle:Product/PdpInputs:default_select.html.twig' with {'input':input} %}
                            {% elseif input.type is constant('\\Furniture\\ProductBundle\\Entity\\ProductPdpInput::SELECT_INLINE_TYPE') %}
                                {% include 'FrontendBundle:Product/PdpInputs:inline_select.html.twig' with {'input':input} %}
                            {% elseif input.type is constant('\\Furniture\\ProductBundle\\Entity\\ProductPdpInput::SELECT_POPUP_TYPE') %}
                                {% include 'FrontendBundle:Product/PdpInputs:popup_select.html.twig' with {'input':input} %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="quantity-selector detail-info-entry">
                        <div class="detail-info-entry-title">{{ 'frontend.quantity'|trans }}</div>
                        <div class="entry number-minus">&nbsp;</div>
                        <div class="entry number">{{ quantity }}</div>
                        <div class="entry number-plus">&nbsp;</div>
                    </div>

                    {% if update_specification_item %}
                        <div class="update-specification-item detail-info-entry">
                            <button data-specification-item-id="{{ specification_item.id }}" type="button" class="button style-10 btn btn-default" style="border-radius:0; width:auto; max-width:300px;">{{ 'frontend.update_specification'|trans }}</button>
                        </div>
                    {% else %}
                        <div class="add-to-specification detail-info-entry">
                            <div id="add-to-spec-widget" class="btn-group" style="width:300px;">
                                <button type="button" class="button style-10 btn btn-default dropdown-btn" style="border-radius:0;max-width:280px;width:280px;">
                                    {{ 'frontend.add_to_specification'|trans }}
                                    <span class="caret"></span>
                                </button>

                                <div class="dropdown-menu">
                                    <div class="specification-search-form">
                                        <form>
                                            <input type="text" placeholder="Search for specification" class="dropdown-search search">
                                            <div class="simple-submit">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </form>
                                    </div>  
                                    <ul class="list-group list specification-list">
                                        {% for specification in specifications %}
                                        <li class="list-group-item">
                                            <a href="#" class="spec-item button style-9" data-specification-id="{{ specification.id }}">{{ specification.name }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-group" style="width:300px;">
                                
                            </div>
                            <div id="specification-added" class="specification-added alert alert-success" role="alert">Product successfully added</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function ($) {
            
            var sku_matrix = [{% for v in sku_matrix %}
            {
            'id':{{v.variant.id}},
                    'options':{{ v.options|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }},
                    'price':{{ v.variant|sku_price|money|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw}}
            },{% endfor %} ];
            
            var variants_container = new variant_data_container(sku_matrix);

            $('[data-input-container="default-select"]').pdp_default_select({ 'data_container': variants_container });
            $('[data-input-container="inline-select"]').pdp_inline_select({ 'data_container': variants_container });
            $('[data-input-container="popup-select"]').pdp_popup_select({ 'data_container': variants_container });

            var low_max_price = function () {
                var variants = variants_container.getFiltered()
                if (variants.length > 1) {
                    var max = 0;
                    var min = 0;
                    variants.forEach(function (variant) {
                        if (
                                min == 0 ||
                                parseFloat(variant.price) < parseFloat(min)
                                ) {
                            min = variant.price;
                        }
                        if (
                                max == 0 ||
                                parseFloat(variant.price) > parseFloat(max)
                                ) {
                            max = variant.price;
                        }
                    });
                }
                var text;
                if (variants.length == 0) {
                    text = 'Unavailable combination'
                } else if (variants.length == 1) {
                    text = variants[0].price;
                } else {
                    text = min + ' - ' + max;
                }

                if (text != $('#prices').text())
                    $('#prices').fadeOut(50, function () {
                        $('#prices').text(text)
                        $('#prices').fadeIn('medium');
                    });
            };

            low_max_price();

            $(document).on('filter:update', function (event) {
                low_max_price();
            });

        {% if active_variant_matrix %}
                variants_container.setFilters({{ active_variant_matrix|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }});
        {% endif %}

        {% if not update_specification_item %}
            var options = {
                valueNames: [ 'spec-item' ]
            };

            var hackerList = new List('add-to-spec-widget', options);
            
                $('.add-to-specification a').click(function () {
                    var el = $(this);

                    if (variants_container.getFiltered().length == 1) {
                        quantity = parseInt($('.quantity-selector .entry.number').text());
                        var url = '{{ path('specification_api_specification_sku_item_add') }}',
                                data = {
                                    id: variants_container.getFiltered()[0].id,
                                    quantity: quantity,
                                    specification: parseInt($(this).attr('data-specification-id'))
                                };
                        var specification_edit_path = "{{ path('specification_edit', {specification: 123}) }}".replace(/123/ , data.specification);

                        $.ajax({
                            url: url,
                            data: data,
                            method: 'POST',
                            success: function () {
                                //alert('Successfully add product to specification.');
                                $('#specification-added')
                                    .html('Product was successfully added. Go to the <a href="'+ specification_edit_path +'">Specification</a>')
                                    .show();
                                $('.add-to-specification button').dropdown('toggle');
                                addSpecificationProcessed = false;
                            },
                            error: function () {
                                alert('Error with add product to specification.');
                                addSpecificationProcessed = false;
                            }
                        });
                    }
                    return false;
                });
        {% else %}
                $('.update-specification-item button').click(function () {
                    var el = $(this);
                    if (variants_container.getFiltered().length == 1) {


                        quantity = parseInt($('.quantity-selector .entry.number').text());

                        var url = '{{ path('specification_api_specification_sku_item_edit', {item: specification_item.id}) }}',
                                data = {
                                    id: variants_container.getFiltered()[0].id,
                                    quantity: quantity
                                };

                        $.ajax({
                            url: url,
                            data: data,
                            method: 'POST',
                            success: function () {
                                window.location = '{{ path('specification_edit', {specification: specification_item.specification.id, item: specification_item.id}) }}'
                            },
                            error: function () {
                                alert('Error with update specification item. Please try again.');
                            }
                        });
                    }
                });
        {% endif %}
            })(jQuery);
    </script>
{% endblock %}
