{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
        <li>{{ 'product_readiness.breadcrumb.index'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{  buttons.create(path('furniture_backend_product_readiness_create')) }}
        </div>

        <h1><i class="glyphicon glyphicon-list-alt"></i> {{ 'product_readiness.breadcrumb.index'|trans|raw }}</h1>
    </div>

    <form action="{{ path('furniture_backend_product_readiness_sort_positions') }}" method="POST" id="readiness-list-form">
        <table class="table table-bordered" id="readiness-list">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for readiness in product_readinesses %}
                <tr>
                    <td style="width: 50px;">
                        <div data-target="move" class="text-center">
                            <i class="glyphicon glyphicon-move"></i>
                            <input type="hidden" name="readiness[{{ readiness.id }}]" value="{{ readiness.position }}" />
                        </div>
                    </td>
                    <td>{{ readiness.name }}</td>
                    <td class="text-center">
                        {{ buttons.edit(path('furniture_backend_product_readiness_update', {id: readiness.id})) }}
                        {# {{ buttons.delete(path('furniture_backend_product_readiness_delete', {id: readiness.id})) }} #}
                        <a class="btn btn-danger btn-confirm btn-delete" href="{{ path('furniture_backend_product_readiness_delete', {id: readiness.id}) }}" data-method="DELETE">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>delete</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <td colspan="3" class="text-center">
                    <button class="btn btn-success">
                        <i class="glyphicon glyphicon-save"></i>
                        Save positions
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function ($) {
            
            $('.btn-delete').click(function(){
                var a = $(this);
                var form = $('<form novalidate="" action="' + a.attr("href") + '" method="post">' +
                    '<input type="hidden" value="DELETE" name="_method">' +
                '</form>');
                $('body').append(form);
                form.submit();
            });
            
            var readinessList = $('#readiness-list tbody');

            readinessList.sortable({
                update: function () {
                    var index = 1;
                    readinessList.find('tr').each(function () {
                        $(this).find('[data-target="move"] input').val(index++);
                    });
                }
            });

            $('#readiness-list-form').submit(function () {
                // Remove method field
                $(this).find('input[name="_method"]').remove();
            })
        })(jQuery);
    </script>
{% endblock %}