{% set product_variant = specification_item.skuItem.productVariant %}
{% set product = product_variant.product %}
<tr data-price="{{ product_variant|sku_price }}" data-id="{{ specification_item.id }}" data-variant-id="{{product_variant.id}}">
    <td class="text-center" data-index="position" data-server-type="specification-item" data-type="text">{{ specification_item.position }}</td>

    <td>
        {% if product.image %}
            <div class="product-image">
                <img src="{{ product.image.path|imagine_filter('s150x150') }}" />
            </div>
        {% endif %}
    </td>

    <td rel="brand">
        <div class="factory-info">
            <div class="factory-name">
                <a href="#">{{ product_variant.product.factory.name }}</a>
            </div>
        </div>
    </td>

    <td class="product-info">
        <div>
            <a href="{{ path('product', {product: product.id, sku_id: product_variant.id}) }}">
                {{ product.translate.name }}
            </a>
        </div>

        {% if product.factoryCode %}
            <div>
                {{ product.factoryCode }}
            </div>
        {% endif %}

        {% if product.types|length %}
            <div>
                {{ (product.types|first).translate.name }}
            </div>
        {% endif %}
    </td>

    <td>
        <ul>
            {% for option in product_variant.options %}
                <li>
                    <strong>{{ option.name }}:</strong>
                    {{ option.value }}
                </li>
            {% endfor %}

            {% for option in product_variant.skuOptions %}
                <li>
                    <strong>{{ option.name }}:</strong>
                    {{ option.value }}
                </li>
            {% endfor %}

            {% for part_variant_selection in product_variant.productPartVariantSelections %}
                <li>
                    <strong>{{ part_variant_selection.productPart.label }}:</strong>
                    {{ part_variant_selection.productPartMaterialVariant.name }}
                </li>
            {% endfor %}
        </ul>
    </td>

    <td data-index="note" data-type="textarea" data-server-type="specification-item">{{ specification_item.note|default('None') }}</td>

    <td data-index="quantity" data-type="integer" data-server-type="specification-item">{{ specification_item.quantity }}</td>

    <td class="total price text-center">{{ product_variant|sku_price|money }}</td>
    <td class="total-price text-center">{{ specification_item|specification_item_total_price|money }}</td>

    <td class="text-right">
        <div class="btn-block">
            {% if is_granted('VIEW_PRODUCTS', product_variant.product.factory) %}
                <a class="btn btn-primary btn-xs" href="{{ path('product', {product: product_variant.product.id, sku_id: product_variant.id, si: specification_item.id}) }}">
                    <i class="fa fa-pencil"></i>
                    {{ 'frontend.edit'|trans }}
                </a>
            {% else %}
                <a class="btn btn-primary btn-xs" href="#" onclick="return false;" data-toggle="tooltip" title="This product currently unavalable">
                    <i class="fa fa-pencil"></i>
                    {{ 'frontend.edit'|trans }}
                </a>
            {% endif %}

            <a class="glyphicon glyphicon-remove mv-remove remove" aria-hidden="true" href="#"></a>
        </div>
    </td>
</tr>