{% extends 'FrontendBundle:Profile/Retailer:base.html.twig' %}

{% block title %}{{ factory.name }} :: {{ 'frontend.title.factories'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            {{ knp_menu_render_factory_side(factory, {template: 'FrontendBundle:FactorySide/Common:menu.html.twig'}) }}
        {% if app.user.isRetailer() %}
            {% if not factory_retailer_relation and not factory.defaultRelation.accessProducts %}
            <div class="request-action clearfix">
                <a href="#" id="create-factory-request" data-message="{{ 'frontend.messages.confirm.create_to_factory_relation'|trans }}" class="btn btn-success pull-right">
                    <i class="fa fa-plus"></i>
                    {{ 'frontend.create_to_factory_relation'|trans }}
                </a>
            </div>
            {% elseif factory_retailer_relation %}
                {% if factory_retailer_relation.active
                    and not factory_retailer_relation.retailerAccept
                    or not factory_retailer_relation.factoryAccept %}
                <div class="alert alert-info" role="alert">{{ 'frontend.relation_waiting_accept'|trans }}</div>
                {% elseif not factory_retailer_relation.active %}
                <div class="alert alert-warning" role="alert">{{ 'frontend.relation_declined'|trans }}</div>
                {% endif %}
            {% endif %}
        {% endif %}
            {% block factory_side_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function ($) {
            $('a#create-factory-request').on('click', function(e) {
                var that = this;
                var message = $(this).data('message');

                bootbox.confirm(message, function(result) {
                    if(result){
                        $.ajax({
                            url: '{{ path('retailer_profile_partners_relation_request', {factory: factory.id}) }}',
                            method: 'POST',
                            success: function () {
                                $(that).parent('.request-action').replaceWith('<div class="alert alert-info" role="alert">{{ 'frontend.relation_waiting_accept'|trans }}</div>');
                            }
                        });
                    }
                });

                return false;
            });
        })(jQuery);
    </script>
{% endblock %}