{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}{{ 'frontend.title.factory_profile'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">{{ 'frontend.title.homepage'|trans }}</a>
    <a href="{{ path('factory_profile') }}">{{ 'frontend.title.factory_profile'|trans }}</a>
{% endblock %}

{% block content %}
    <div class="information-blocks">
        <div class="row">
            {% block right_content_container %}
                <div class="col-md-9 col-md-push-3 information-entry">
                    {% block page_content %}{% endblock %}
                </div>
            {% endblock %}

            {% block left_content_container %}
                <div class="col-md-3 col-md-pull-9 information-entry blog-sidebar">
                    {% block left_content %}
                        <div class="information-blocks">
                            <div class="categories-list">
                                <div class="block-title size-3">{{ 'frontend.factory_profile'|trans }}</div>

                                {{ knp_menu_render('frontend.factory_profile', {template: 'FrontendBundle:Profile/Common:menu.html.twig'}) }}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}