<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">{{ 'sylius.product.tabs.product'|trans }}</a></li>

    {% if form.readinesses is defined %}
        <li><a href="#status" data-toggle="tab">{{ 'sylius.product.tabs.status'|trans }}</a></li>
    {% endif %}

    {% if not product.hasVariants %}
        {% if form.skuOptionVariants is defined or form.options is defined %}
            <li><a href="#options" data-toggle="tab">{{ 'sylius.product.tabs.options'|trans }}</a></li>
        {% endif %}

        {% if form.productParts is defined %}
            <li><a href="#parts" data-toggle="tab">Parts</a></li>
        {% endif %}
    {% endif %}

    {% if form.attributes is defined %}
        <li><a href="#attributes" data-toggle="tab">{{ 'sylius.product.tabs.attributes'|trans }}</a></li>
    {% endif %}

    {% if form.spaces is defined or form.types is defined or form.categories is defined or form.styles is defined or form.readiness is defined%}
        <li><a href="#categorization" data-toggle="tab">{{ 'sylius.product.tabs.categorization'|trans }}</a></li>
    {% endif %}

    {% if form.subProducts is defined and (product.isBundle() or product.isSimple) %}
        <li><a href="#bundle_products" data-toggle="tab">Bundle products</a></li>
    {% endif %}

    <li><a href="#images" data-toggle="tab">{{ 'sylius.product.tabs.images'|trans }}</a></li>

    {% if form.channels|length > 0 %}
        <li><a href="#channels" data-toggle="tab">{{ 'sylius.product.tabs.channels'|trans }}</a></li>
    {% endif %}

    {% if form.compositeCollections is defined %}
        <li><a href="#composite-collections" data-toggle="tab">{{ 'sylius.product.tabs.composite_collections'|trans }}</a></li>
    {% endif %}
</ul>
