{% include 'SyliusWebBundle:Common:forms.html.twig' %}
{% include 'SyliusResourceBundle::forms.html.twig' %}

{% block product_variant_image_widget %}
{% spaceless %}
    <div class="product-images-image row sortable-item">
        <div class="col-md-1 text-center" data-target="move">
            <i class="glyphicon glyphicon-move" data-target="move"></i>
            {{ form_widget(form.position) }}
        </div>

        <div class="col-md-2">
            {% if form.vars.value and form.vars.value.path|length > 0 %}
                <a href="{{ form.vars.value.path|imagine_filter('sylius_large') }}" data-gallery="gallery">
                    <img class="img-rounded" src="{{ form.vars.value.path|imagine_filter('sylius_small') }}" alt="" />
                </a>
            {% endif %}
        </div>

        <div class="col-md-7">
            {{ form_widget(form.file) }}
        </div>

        <div class="col-md-2">
            <a href="#" class="btn btn-danger" data-collection-button="delete" data-collection="product-images" data-collection-item="image"><i class="glyphicon glyphicon-trash"></i>&nbsp;{{ 'sylius.variant.delete_image'|trans }}</a>
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block product_schemes_widget %}
    {% if part_error is defined %}
        <div class="alert alert-info">{{ part_error }}</div>
    {% else %}
        <table class="table" {{ block('widget_attributes') }} >
            <thead>
            <tr>
                <th class="text-center">Name</th>

                {% for part_label in part_labels %}
                    <th class="text-center">{{ part_label }}</th>
                {% endfor %}

                <th class="text-center">Actions</th>
            </tr>
            </thead>

            <tbody id="table-product-schemes" class="collection-container" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <td colspan="{{ part_count + 2 }}">
                    <div class="text-center">
                        <a class="btn btn-default" data-collection-button="add" data-prototype="table-product-schemes" data-collection="table-product-schemes">Add new</a>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    {% endif %}
{% endblock %}

{% block product_scheme_widget %}
    <tr class="table-product-schemes-scheme">
        <td>
            {{ form_widget(form.translations) }}
        </td>

        {% for child in form.productParts %}
            <td class="text-center">
                {{ form_widget(child) }}
            </td>
        {% endfor %}

        <td class="text-center">
            <a class="btn btn-danger" data-collection-button="delete" data-collection="table-product-schemes" data-collection-item="scheme">Remove</a>
        </td>
    </tr>
{% endblock %}

{% block product_pattern_widget %}
    {{ form_row(form.product) }}
    {{ form_row(form.scheme) }}
    {{ form_row(form.name) }}
{% endblock %}