{% extends 'FrontendBundle:Specification/Buyer:base.html.twig' %}

{% block title %}{{ 'frontend.title.list'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="{{ path('specification_buyers') }}">{{ 'frontend.title.list'|trans }}</a>
{% endblock %}

{% block content %}
    <div class="information-blocks">
        <div class="line-entry" style="text-align:right; padding-bottom:10px;">
            <a class="btn btn-success" href="{{ path('specification_buyer_create') }}"><span>{{ 'frontend.create'|trans }}</span></a>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{ 'frontend.photo'|trans }}</th>
                <th>{{ 'frontend.name'|trans }}</th>
                <th>{{ 'frontend.contact'|trans }}</th>
                <th>{{ 'frontend.address'|trans }}</th>
                <th>{{ 'frontend.sale'|trans }}</th>
                <th>{{ 'frontend.actions'|trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for buyer in buyers %}
                <tr data-buyer-id="{{ buyer.id }}">
                    <td>
                        {% if is_granted('EDIT', buyer) %}
                            <div class="image-ajax-container" data-full-name="buyer[{{ buyer.id }}][image][path]" data-url-upload="{{ path('specification_buyer_image_upload', {buyer: buyer.id}) }}"{% if buyer.image and buyer.image.path %} data-image-path="{{ buyer.image.path|imagine_filter('s100x100') }}"{% endif %}>
                                <div class="image-upload">
                                    <img data-src="holder.js/100x100?text=Choose image" width="100" height="100" />
                                </div>

                                <div class="form-widget">
                                    <input type="hidden" name="buyer[{{ buyer.id }}][image][path]" />
                                </div>

                                <div class="image-container">
                                    <div class="image">
                                        <img width="100" height="100" src="" />
                                    </div>

                                    <a class="btn btn-danger btn-xs" href="#remove-image">
                                        <i class="fa fa-remove">Remove</i>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            {% if buyer.image %}
                                <img src="{{ buyer.image.path|imagine_filter('s100x100') }}" width="100" height="100" />
                            {% endif %}
                        {% endif %}
                    </td>

                    <td>
                        {{ buyer }}
                    </td>

                    <td>
                        {{ buyer.email }}
                        <br />
                        {{ buyer.phone }}
                    </td>

                    <td>
                        {{ buyer.address }}
                    </td>

                    <td>{{ buyer.sale|default('0') }}%</td>
                    <td>
                        {% if is_granted('EDIT', buyer) %}
                            <a href="{{ path('specification_buyer_edit', {buyer: buyer.id}) }}" class="btn btn-default btn-xs">{{ 'frontend.edit'|trans }}</a>
                        {% endif %}

                        <br />

                        {% if is_granted('REMOVE', buyer) %}
                            {% if buyer.countSpecifications == 0 %}
                                <a href="{{ path('specification_buyer_remove', {buyer: buyer.id}) }}" class="btn btn-danger btn-xs">{{ 'frontend.remove'|trans }}</a>
                            {% else %}
                                <span class="text-warning">Has specifications</span>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">
                        {{ 'frontend.buyers_not_found'|trans }}
                        <a href="{{ path('specification_buyer_create') }}">{{ 'frontend.create'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('[data-buyer-id]').each(function () {
                    var id = $(this).data('buyer-id');

                    new ImageAjax($(this).find('.image-ajax-container'), {
                        onRemove: function () {
                            bootbox.confirm('{{ 'frontend.are_you_sure_remove_image'|trans }}', function(result) {
                                if (result) {
                                    $.ajax({
                                        url: '{{ path('specification_buyer_image_remove', {buyer: 123}) }}'.replace(/123/, id),
                                        method: 'POST',
                                        success: function () {
                                            q.setImagePath('');
                                            q.viewImageUpload();
                                        }
                                    });
                                }
                            });

                            return false;
                        }
                    });
                });
            });
        })(jQuery);
    </script>
{% endblock %}
