{% extends 'FrontendBundle:Specification/Buyer:base.html.twig' %}

{% block title %}{{ ('frontend.title.' ~ (buyer.id ? 'edit' : 'create'))|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ ('frontend.title.' ~ (buyer.id ? 'edit' : 'create'))|trans }}</a>
{% endblock %}

{% block content %}
    <div class="information-blocks">
        <form action="" method="POST" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input class="btn btn-success" type="submit" value="{{ 'frontend.save'|trans }}" />
        </form>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
                function initAutocomplete() {
                    $('.google-address-autocomplete').each(function(){
                        autocomplete = new google.maps.places.Autocomplete(
                            (this),
                            {types: ['geocode']}
                        );
                    });
                }
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_api_maps_key }}&signed_in=true&libraries=places&callback=initAutocomplete" >
    </script>
{% endblock %}