{% extends 'FrontendBundle:Specification/Buyer:base.html.twig' %}
{% from 'FrontendBundle:Macros:misc.html.twig' import pagination %}
{% use 'FrontendBundle:Specification:toolbar_actions.html.twig' %}
{% use 'FrontendBundle:Specification:specifications_table.html.twig' %}

{% block title %}{{ 'frontend.specifications'|trans }} :: {{ buyer.fullName }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ buyer.fullName }}</a>
    <span class="active">{{ 'frontend.specifications'|trans }}</span>
{% endblock %}

{% block content %}
    {% set paginator = pagination(specifications) %}
    {{ block('toolbar_actoions') }}

    <div class="information-blocks">
        <h1 class="block-title">{{ buyer.fullName }}</h1>
    </div>
    {% set not_found = 'frontend.specfications_opened_not_found_for_buyer'|trans({':buyer': buyer.fullName}) %}
    {% if is_granted('SPECIFICATION_CREATE') %}
        {% set not_found = not_found ~ ' <a href="' ~ path('specification_create', {buyer: buyer.id}) ~ '">' ~ 'frontend.create'|trans ~ '</a>' %}
    {% endif %}
    {{ block('specifications_table') }}
    <div class="row mv-actions">
        <div class="col-xs-4 col-sm-6 col-lg-4 col-xs-push-8 col-sm-push-6 col-lg-push-8">
            {{ paginator }}
        </div>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select[name="sorting"]').on('change', function (e) {
                var query = {[this.name]: $(this).val()};
            window.location = window.location.origin + window.location.pathname + '?' + $.param(query)
        });
        })
    </script>
{% endblock %}
