{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block title %}{{ 'composite.header.create'|trans }} :: {{ 'composite.header.index'|trans }} :: {{ parent() }}{% endblock %}

{% block topbar %}
    <ol class="breadcrumb">
        <li><a href="{{ path('furniture_backend_composite') }}">{{ 'composite.breadcrumb.index'|trans }}</a></li>
        <li>{{ 'composite.breadcrumb.create'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-plus-sign"></i> {{ 'composite.header.create'|trans }}</h1>
    </div>

    {{ form_errors(form) }}

    <form action="{{ path('furniture_backend_composite_create') }}" method="post" class="form-horizontal" novalidate>
        {% include 'SyliusWebBundle:Backend/Composite:form.html.twig' %}

        {{ create() }}
    </form>
{% endblock %}
