{% extends 'FrontendBundle:Security:layout.html.twig' %}

{% block content %}
    <div class="col-sm-6 information-entry">
        <div class="login-box">
            <div class="article-container style-1">
                <h3>Registered User</h3>
                {% if error %}
                    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
            </div>
            <form action="{{ path("security_login_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'frontend.login.email'|trans }}</label>
                <input class="simple-field" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'frontend.login.password'|trans }}</label>
                <input class="simple-field" type="password" id="password" name="_password" required="required" />
                <p class="pull-right">
                    <a href="{{ path('security_reset_password_request') }}">Forgot password?</a>
                </p>
                <p class="pull-left">
                    <label class="checkbox-entry">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                        <span class="check"></span>
                        {{ 'frontend.login.remember_me'|trans }}
                    </label>
                </p>
                <p class="lead clear"></p>
                <input type="submit" class="button style-12" id="_submit" name="_submit" value="{{ 'frontend.login.submit'|trans }}" />
            </form>
        </div>
    </div>
    <div class="col-sm-6 information-entry">
        <div class="login-box">
            <div class="article-container style-1 new-user">
                <h3>New User</h3>
                <p>Sign up to get full access to the service</p>
            </div>
            <a href="{{ path('security_register') }}" class="button style-12">Register Account</a>
        </div>
    </div>
{% endblock %}