{% extends 'FrontendBundle:Security:layout.html.twig' %}

{% block content %}
    <div class="col-md-6 information-entry col-md-offset-3">
        <div class="login-box">
            <p class="lead text-center">{{ 'frontend.need_reset_password'|trans }}</p>
            <p class="text-center"><a href="{{ path('security_send_need_reset_password', {token: token}) }}">{{ 'frontend.send_reset_password'|trans }}</a></p>
            <p class="lead"></p>
            {% if error is not empty %}
                <p class="text-center text-danger">{{ 'frontend.need_reset_password_error'|trans }}  {{ 'frontend.account_disabled'|trans }}</p>
            {% elseif error is empty and success is not empty %}
                <p class="text-center text-success">{{ 'frontend.need_reset_password_success'|trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}