{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}{{ parent() }} :: {{ app.user.factory.name }} :: {{ 'frontend.factory_side.retailer.map_page'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ path('factory') }}">{{ 'frontend.factory_side.retailer.map_page'|trans }}</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='/css/*.min.css'
        '@FrontendBundle/Resources/public/css/jquery.jqplot.min.css'
    %}
    <link type="text/css" href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='/js/*.min.js'
        '@FrontendBundle/Resources/public/js/jquery.jqplot.min.js'
        '@FrontendBundle/Resources/public/js/jqplot.cursor.min.js'
        '@FrontendBundle/Resources/public/js/jqplot.barRenderer.min.js'
        '@FrontendBundle/Resources/public/js/jqplot.pieRenderer.min.js'
        '@FrontendBundle/Resources/public/js/jqplot.pointLabels.min.js'
        '@FrontendBundle/Resources/public/js/jqplot.dateAxisRenderer.min.js'
        '@FrontendBundle/Resources/public/js/jqplot.categoryAxisRenderer.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="row information-blocks">
        <div class="col-sm-4 information-entry">
            {% for retailer in allRetailers %}
                <div data-retailer="{{ retailer.id }}" class="inline-product-entry">
                    {% if retailer.logoImage %}
                        <a href="blog-list.html#" class="image"><img alt="" src="{{ retailer.logoImage.path|imagine_filter('s201x203') }}"></a>
                    {% else %}
                        <a href="blog-list.html#" class="image"><img alt="" src="{{ '/img/201x203.png' }}"></a>
                    {% endif %}
                    <div class="content">
                        <div class="cell-view">
                            <a href="blog-list.html#" class="title">{{ retailer.name }}</a>
                            {% if retailer.createdAt %}
                                <div class="description">
                                    {{ 'frontend.factory_side.retailer.added'|trans }} {{  retailer.createdAt.format('d M Y') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>
        <div class="col-sm-8 information-entry">
            <div>
                <div style="min-height: 450px;" id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var mapRetailerMarkers
        = {{mapRetailerMarkers|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw}};
                var geocoder;
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 43, lng: 25},
                zoom: 5,
                mapTypeControl: false
            });
            geocoder = new google.maps.Geocoder();
            var currentActiveInfoWindows = null;
            mapRetailerMarkers.forEach(function (retailer) {

                var infowindow = new google.maps.InfoWindow({
                    content: '<div>\
                        <div class="article-container style-1">\
                            <div class="cell-view">\
                                <h4 class="block-title main-heading">' + retailer.name + '</h4>\
                                <h5>Company address</h5>\
                                <p>' + retailer.address + '<br>\
                                <h5>Contact Information</h5>\
                                <p>Email: ' + retailer.emails + '<br>\
                                Phones: ' + retailer.phones + '</p>\
                            </div>\
                        </div>\
                    </div>'
                });
                var marker = new google.maps.Marker({
                    icon: '/img/marker.png',
                    map: map,
                    position: retailer.location,
                    title: retailer.name
                });
                
                var openInfoWindow = function(){
                    map.setZoom(10);
                    if( currentActiveInfoWindows )
                        currentActiveInfoWindows.close();
                    currentActiveInfoWindows = infowindow;
                    currentActiveInfoWindows.open(map, marker);
                }
                
                marker.addListener('click', function () {
                    openInfoWindow();
                });
                $('[data-retailer="'+retailer.id+'"] a').click(function(){
                    openInfoWindow();
                    return false;
                });
            });
        }


        $(document).ready(function () {
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtfFR1y2sFVhzLwxvoeX6g_FUofzQakxA&callback=initMap" async defer></script>
{% endblock %}
