{% extends 'FrontendBundle:Profile/Retailer/FactoryRelation:base.html.twig' %}

{% block title %}{{ ('frontend.title.' ~ (relation.id ? 'edit' : 'create'))|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ ('frontend.title.' ~ (relation.id ? 'edit' : 'create'))|trans }}</a>
{% endblock %}

{% block page_content %}
    <div class="col-sm-6">
        {{ form_start(form, {'attr': {'id': 'retailer-factory-relation'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    {% if not relation.id %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function () {
                    var $accessProducts = $('#retailer_factory_relation_accessProducts');
                    var $accessPrice = $('#retailer_factory_relation_accessProductsPrices');
                    var requiredMessage = '{{ 'frontend.messages.errors.relation_products_view'|trans }}';

                    if (!$accessProducts.is(':checked')) {
                        if (typeof $.appendMessage === "function") {
                            $.appendMessage(requiredMessage, 'error');
                        }
                        $accessPrice.attr('checked', false).parent('label').hide();
                    }

                    $accessProducts.on('change', function() {
                        if ($(this).is(':checked')) {
                            $accessPrice.parent('label').slideDown();
                            if (typeof $.clearMessages === "function") {
                                $.clearMessages();
                            }
                        }
                        else {
                            $accessPrice.attr('checked', false).parent('label').slideUp(function(){
                                if (typeof $.appendMessage === "function") {
                                    $.appendMessage(requiredMessage, 'error');
                                }
                            });
                        }
                    });

                    $('#retailer_factory_relation_factory').select2({
                        placeholder: "Select brand",
                        allowClear: false
                    }).select2("val", "");
                });
            })(jQuery);
        </script>
    {% endif %}
{% endblock %}