{% extends 'FrontendBundle:Profile/Retailer/FactoryRelation:base.html.twig' %}

{% block title %}{{ ('frontend.title.' ~ (relation.id ? 'edit' : 'create'))|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ ('frontend.title.' ~ (relation.id ? 'edit' : 'create'))|trans }}</a>
{% endblock %}

{% block page_content %}
    <div class="information-blocks">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    {% if not relation.id %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function () {
                    $('#retailer_factory_relation_factory').select2({
                        placeholder: "Select brand",
                        allowClear: false
                    }).select2("val", "");
                });
            })(jQuery);
        </script>
    {% endif %}
{% endblock %}