{% macro list(factories) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if factories|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ sylius_resource_sort('name', 'sylius.product_attribute.name'|trans) }}</th>
                <th>Enabled</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for factory in factories %}
            <tr id="{{ factory.id }}">
                <td>{{ factory.name }}</td>
                <td class="text-center">
                    <i class="glyphicon glyphicon-{{ factory.enabled ? 'ok' : 'remove' }}"></i>
                </td>
                <td>
                    <div class="pull-right">
                    {{ buttons.show(path('furniture_backend_factory_referal_key_index', {'fid': factory.id}), 'Referal keys') }}
                    {{ buttons.show(path('sylius_backend_customer_index', {criteria: {factoryId: factory.id}}), 'Users') }}
                    {{ buttons.show(path('retailer_profile_partners_general', {'_locale':'en', 'factory': factory.id, 'preview': 'true'}), 'Preview', {'target': '_blank'}) }}
                    {{ buttons.edit(path('furniture_backend_factory_update', {'id': factory.id})) }}

                    {% if is_factory_can_hard_remove(factory) %}
                        {{ buttons.delete(path('furniture_backend_factory_delete', {'id': factory.id})) }}
                    {% endif %}
                   </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
{{ alerts.info('sylius.product_attribute.no_results'|trans) }}
{% endif %}

{% endmacro %}
