<div class="{% if input.option %}{{ 'option-info-entry' }}{% elseif input.skuOption %}{{ 'sku-option-info-entry' }}{% elseif input.productPart %}{{ 'detail-info-entry' }}{% elseif input.forSchemes %}{{ 'scheme-info-entry' }}{% endif %}" data-input-id="{{ input.id }}">
    <div class="detail-info-entry-title">{{ input.humanName }}</div>

    {% if input.skuOption and input.skuOptionVariants()|length == 1 %}
        {% for skuOptionVariant in input.skuOptionVariants() %}
            <ul class="list">
                <li>
                    {{ skuOptionVariant.value }}
                    <input type="hidden" data-input-container="default-select" data-input-id="{{ input.id }}" data-input-variant="{{ skuOptionVariant.id }}">
                </li>
            </ul>
        {% endfor %}
    {% else %}
        {% if input.option %}
        <div class="simple-drop-down simple-field" data-input-id="{{ input.id }}" >
            <select data-input-container="default-select">
            {% for optionValue in input.optionValues() %}
                <option data-input-variant="{{ optionValue.id }}" >{{ optionValue.value }}</option>
            {% endfor %}
            </select>
        </div>
        {% elseif input.skuOption %}
        <div class="simple-drop-down simple-field" data-input-id="{{ input.id }}" >
            <select data-input-container="default-select">
            {% for skuOptionVariant in input.skuOptionVariants() %}
                <option data-input-variant="{{ skuOptionVariant.id }}" >{{ skuOptionVariant.value }}</option>
            {% endfor %}
            </select>
        </div>
        {% elseif input.productPart %}
            {% if input.productPartMaterialsVariantSelections|length == 1 %}
                {% for productPartVariantSelection in input.productPartMaterialsVariantSelections %}
                <ul class="list">
                    <li>
                        {{ productPartVariantSelection.productPartMaterialVariant.name }}
                        <input type="hidden" data-input-container="default-select" data-input-id="{{ input.id }}" data-input-variant="{{ productPartVariantSelection.productPartMaterialVariant.id }}">
                    </li>
                </ul>
                {% endfor %}
            {% else %}
                <div class="simple-drop-down simple-field" data-input-id="{{ input.id }}" >
                    <select data-input-container="default-select">
                    {% for productPartVariantSelection in input.productPartMaterialsVariantSelections %}
                        <option data-input-variant="{{ productPartVariantSelection.productPartMaterialVariant.id }}" >{{ productPartVariantSelection.productPartMaterialVariant.name }}</option>
                    {% endfor %}
                    </select>
                </div>
            {% endif %}
        {% elseif input.ForPdpIntellectualCompositeExpression %}
        <div class="simple-drop-down simple-field" data-input-id="{{ input.id }}" >
            <select>
                {% for child in input.pdpIntellectualCompositeExpression.child if child.isAnd() %}
                    <option
                        data-activate-expression="{% for activateChild in child.child %}{{ activateChild.pdpInput.id }}{% endfor %}"
                        data-activate-input="{% for element in child.elements %}{{ element.id }}{% endfor %}"
                        value="{{child.id}}">{{ child.appendText }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    {% endif %}
</div>



