{% extends 'FrontendBundle:Profile/Factory/RetailerRelation:base.html.twig' %}

{% block title %}{{ ('frontend.title.' ~ (relation.id ? 'edit' : 'create'))|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ ('frontend.title.' ~ (relation.id ? 'edit' : 'create'))|trans }}</a>
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{{ 'frontend.title.retailer_relations_create'|trans }}</h1>
    </div>
    {{ form_start(form, {'attr': {'id': 'retailer-factory-relation', 'class': 'col-sm-9'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {

                var $accessProducts = $('#retailer_factory_relation_accessProducts');
                var $accessPrice = $('#retailer_factory_relation_accessProductsPrices');
                var requiredMessage = '{{ 'frontend.messages.errors.relation_products_view'|trans }}';

                if (!$accessProducts.is(':checked')) {
                    if (typeof $.appendMessage === "function") {
                        $.appendMessage(requiredMessage, 'error');
                    }
                    $accessPrice.attr('checked', false).parents('.form-group').hide();
                }

                $accessProducts.on('change', function() {
                    if ($(this).is(':checked')) {
                        $accessPrice.parents('.form-group').slideDown();
                        if (typeof $.clearMessages === "function") {
                            $.clearMessages();
                        }
                    }
                    else {
                        $accessPrice.attr('checked', false).parents('.form-group').slideUp(function(){
                            if (typeof $.appendMessage === "function") {
                                $.appendMessage(requiredMessage, 'error');
                            }
                        });
                    }
                });
                {% if not relation.id %}
                $('#retailer_factory_relation_retailer').select2({
                    placeholder: "Select retailer",
                    allowClear: false
                }).select2("val", "");
                {% endif %}
            });
        })(jQuery);
    </script>
{% endblock %}