{% extends 'FrontendBundle:Profile/Retailer/Employee:base.html.twig' %}

{% block title %}{{ employee.id ? 'frontend.edit'|trans : 'frontend.create'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    {% if employee.id %}
        <a href="{{ path('retailer_profile_employee_edit', {employee: employee.id}) }}">{{ 'frontend.edit'|trans }}</a>
    {% else %}
        <a href="{{ path('retailer_profile_employee_create') }}">{{ 'frontend.create'|trans }}</a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <form class="form" method="POST" action="" data-confirm="{{ employee.id ? "false" : "true" }}" {% if not employee.id %}data-message="{{ 'frontend.retailer_profile_side.managers.create_confirmation'|trans }}"{% endif %}>
        {% if form.vars.errors|length %}
            {{ form_errors(form) }}
        {% endif %}

        {{ form_row(form.customer.email) }}
        {{ form_row(form.customer.firstName) }}
        {{ form_row(form.customer.lastName) }}
        {{ form_row(form.retailerUserProfile.position)}}
        {{ form_row(form.retailerUserProfile.phones) }}
        {{ form_row(form.retailerUserProfile.retailerMode) }}

        {{ employee.id ? form_row(form.enabled) }}

        {{ form_rest(form) }}

        <div class="form-group text-center">
            <button type="submit"
                    class="btn btn-success">
                    {{ employee.id ? 'Save' : 'Create' }}</button>
        </div>
    </form>
{% endblock %}