{% extends 'FrontendBundle:Profile/Retailer/Employee:base.html.twig' %}

{% block title %}{{ 'frontend.title.list'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="{{ path('retailer_profile_employees') }}">{{ 'frontend.title.employees'|trans }}</a>
{% endblock %}

{% block page_content %}
    {% if is_granted('RETAILER_EMPLOYEE_CREATE') %}
        <div class="pull-right">
            <a href="{{ path('retailer_profile_employee_create') }}" class="btn btn-success">
                <i class="fa fa-plus"></i>
                {{ 'frontend.create'|trans }}
            </a>
        </div>
    {% endif %}

    <table class="table retailer-employees">
        <thead>
        <tr>
            <th class="text-center">{{ 'frontend.user'|trans }}</th>
            <th class="text-center">{{ 'frontend.email'|trans }}</th>
            <th class="text-center">{{ 'frontend.created'|trans }}</th>
            <th class="text-center">{{ 'frontend.access'|trans }}</th>
            <th class="text-center">{{ 'frontend.actions'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for employee in employees %}
            <tr class="text-center{% if employee.id == app.user.id %} info{% endif %}">
                <td>
                    <div class="full-name">{{ employee.customer.firstName }} {{ employee.customer.lastName }}</div>
                    <div class="username">{{ employee.username }}</div>
                </td>

                <td>{{ employee.email }}</td>
                <td>
                    <div class="datetime">
                        <div class="date">{{ employee.createdAt.format('Y/m/d') }}</div>
                        <div class="time">{{ employee.createdAt.format('H:i') }}</div>
                    </div>
                </td>

                <td>
                    <span class="label label-success">
                        {% if employee.isRetailer() and employee.retailerUserProfile.isRetailerAdmin() %}
                            {{ 'frontend.admin'|trans }}
                        {% elseif employee.isRetailer() %}
                            {{ 'frontend.employee'|trans }}
                        {% else %}
                            Undefined
                        {% endif %}
                    </span>
                </td>

                <td nowrap>
                    {% if is_granted('RETAILER_EMPLOYEE_EDIT', employee) %}
                        <a href="{{ path('retailer_profile_employee_edit', {employee: employee.id}) }}" class="btn btn-info btn-xs">
                            <i class="fa fa-edit"></i>
                            Edit
                        </a>
                    {% endif %}

                    {% if employee.id != app.user.id %}
                        {% if is_granted('RETAILER_EMPLOYEE_REMOVE', employee) %}
                            <a href="{{ path('retailer_profile_employee_remove', {employee: employee.id}) }}" class="btn btn-danger btn-xs">
                                <i class="fa fa-remove"></i>
                                Remove
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    Not found employees. You can <a href="{{ path('retailer_profile_employee_create') }}">create</a> employees.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}