{% extends 'FrontendBundle:Profile/Retailer/Employee:base.html.twig' %}

{% block title %}{{ 'frontend.title.list'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="{{ path('retailer_profile_employees') }}">{{ 'frontend.title.list'|trans }}</a>
{% endblock %}

{% block page_content %}
    {% if is_granted('RETAILER_EMPLOYEE_CREATE') %}
        <div class="pull-right">
            <a href="{{ path('retailer_profile_employee_create') }}" class="btn btn-success">{{ 'frontend.create'|trans }}</a>
            <p class="lead-text"></p>
        </div>
    {% endif %}

    <table class="retailer-employees table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th>{{ 'frontend.manager'|trans }}</th>
            <th>{{ 'frontend.position'|trans }}</th>
            <th>{{ 'frontend.created'|trans }}</th>
            <th class="tb-sp-enable">{{ 'frontend.enabled'|trans }}</th>
            <th class="tb-sp-access">{{ 'frontend.access'|trans }}</th>
            <th class="tb-sp-actions">{{ 'frontend.actions'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for employee in employees %}
            <tr class="{% if employee.id == app.user.id %}info{% endif %}">
                <td>
                    <div class="full-name">{{ employee.customer.firstName }} {{ employee.customer.lastName }}</div>
                    <div class="username">{{ employee.username }}</div>
                </td>

                <td>{{ employee.retailerUserProfile.position }}</td>

                <td>
                    <div class="datetime">
                        <div class="date">{{ employee.createdAt.format('Y/m/d') }}</div>
                        <div class="time">{{ employee.createdAt.format('H:i') }}</div>
                    </div>
                </td>

                <td class="text-center">
                    <i class="glyphicon glyphicon-{{ employee.enabled ? 'ok' : 'remove' }}"></i>
                </td>

                <td class="text-center">
                    <span class="label label-success">
                        {% if employee.isRetailer() and employee.retailerUserProfile.isRetailerAdmin() %}
                            {{ 'frontend.admin'|trans }}
                        {% elseif employee.isRetailer() %}
                            {{ 'frontend.manager'|trans }}
                        {% else %}
                            Undefined
                        {% endif %}
                    </span>
                </td>

                <td nowrap>
                    {% if is_granted('RETAILER_EMPLOYEE_EDIT', employee) %}
                        <a href="{{ path('retailer_profile_employee_edit', {employee: employee.id}) }}" class="btn btn-edit btn-xs">{{ 'frontend.edit'|trans }}</a>
                    {% endif %}

                    {% if employee.id != app.user.id %}
                        {% if employee.enabled %}
                            {% if is_granted('RETAILER_EMPLOYEE_REMOVE', employee) %}
                                <a href="{{ path('retailer_profile_employee_remove', {employee: employee.id}) }}"
                                    class="glyphicon glyphicon-remove mv-remove remove" aria-hidden="true"
                                    title="Disable" data-toggle="tooltip"
                                    data-remove data-message="Are you sure you want to disable this user?">
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    Not found employees. You can <a href="{{ path('retailer_profile_employee_create') }}">create</a> employees.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('.employee-remove').click(function(e){
                    e.preventDefault();
                    var link = $(this); 
                    bootbox.confirm({
                        title: "Confirmation required.",
                        message: 'Are you sure you want to disable a user?',
                        callback: function(result) {
                            result && document.location.assign(link.attr('href'));
                        },
                        buttons: {
                            'cancel': {
                                label: 'Cancel',
                                className: 'btn-primary'
                            },
                            'confirm': {
                                label: 'Ok',
                                className: 'btn-success'
                            }
                        }
                    });
                    return false;
                });
            });
        })(jQuery);
    </script>
{% endblock %}