{# empty Twig template #}
{% macro filter_panel(list, checked_list, name, title, show = 5) %}
    {% spaceless %}
        {% if list is not empty %}
        <div class="panel">
            <a href="#{{ name }}-filter" class="filter-category collapsed" data-toggle="collapse" aria-expanded="true" aria-controls="{{ name }}-filter">{{ title }}</a>
            <ul class="collapse{% if checked_list is not empty%} in{% endif %}" id="{{ name }}-filter">
                {% for item in list %}
                    <li>
                        <input id="checkbox-{{ name }}-{{ item.id }}" {% if checked_list is iterable and item.id in checked_list %} checked{% endif %} type="checkbox" value="{{ item.id }}" live-form name="{{ name }}[]" />
                        <label for="checkbox-{{ name }}-{{ item.id }}" class="checkbox-name">{{ item.translate.name is not empty ? item.translate.name : item.name}}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endspaceless %}
{% endmacro %}