{% extends 'FrontendBundle:Profile/Retailer/FactoryRate:base.html.twig' %}

{% block title %}{{ ('frontend.title.' ~ (rate.id ? 'edit' : 'create'))|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ ('frontend.title.' ~ (rate.id ? 'edit' : 'create'))|trans }}</a>
{% endblock %}

{% block page_content %}
    {{ form_start(form, {'attr': {'class': 'col-md-6 col-sm-6'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div id="product-preview">
        <div class="col-md-6 col-sm-6">
            <div class="product-slide-entry">
                <div class="product-image">
                    <a href="/en/product/356" class="thumbnail">
                        <div class="top-line text-center">
                            <img src="https://devfortest-01.agenta.solutions/media/cache/s300x225/ec/7b/aee44e13d8e1f89b04d3b7a5b6a1.jpeg" alt="Selva Timeless">
                        </div>
                    </a>
                </div>
                <h4 class="pgp-product-title">
                    <div class="price">
                        <div id="original-price" class="current">1 000 €</div>
                        <div id="calculated-price" class="current"></div>
                    </div>
                </h4>
            </div>
        </div>
    </div>

    {% if not rate.id %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function () {
                    var originalPrice = $('#original-price').text();
                    var calculated = $('#calculated-price');
                    var coefficient = $('#retailer_factory_rate_coefficient').val();
                    var extraDiscount = $('#retailer_factory_rate_dumping').val();

                    var priceCalculation = function (origin, coefficient, discount) {
                        var suffix = origin.replace(/[0-9\.\s]+/g, '');
                        var price = parseFloat(origin.substr(0, origin.length - suffix.length).replace(/\s+/g, ''));
                        price *= coefficient;
                        if (discount > 0) {
                            price -= parseFloat(price * (discount / 100));
                        }

                        price = number_format(Math.ceil(price), 0, '.', ' ');

                        if (suffix.length > 0) {
                            price += ' ' + suffix;
                        }

                        return price;
                    };

                    $('#retailer_factory_rate_coefficient').on('change', function(e) {
                        coefficient = $(this).val();
                        calculated.text(priceCalculation(originalPrice, coefficient, extraDiscount));
                    });

                    $('#retailer_factory_rate_dumping').on('change', function(e) {
                        extraDiscount = $(this).val();
                        calculated.text(priceCalculation(originalPrice, coefficient, extraDiscount));
                    });

                    $('#retailer_factory_rate_factory').select2({
                        placeholder: "Select brand",
                        allowClear: false
                    }).select2("val", "");
                });
            })(jQuery);
        </script>
    {% endif %}
{% endblock %}