{% extends 'FrontendBundle:Profile/Retailer/FactoryRate:base.html.twig' %}

{% block title %}{{ ('frontend.title.' ~ (rate.id ? 'edit' : 'create'))|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ ('frontend.title.' ~ (rate.id ? 'edit' : 'create'))|trans }}</a>
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{{ rate.id ? 'frontend.title.factory_rates_edit'|trans : 'frontend.title.factory_rates_create'|trans }}</h1>
    </div>
    {{ form_start(form, {'attr': {'class': 'col-sm-9'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% if not rate.id %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function () {
                    $('#retailer_factory_rate_factory').select2({
                        placeholder: "Select brand",
                        allowClear: false
                    }).select2("val", "");
                });
            })(jQuery);
        </script>
    {% endif %}
{% endblock %}