{% extends 'FrontendBundle:Profile/Retailer/FactoryRate:base.html.twig' %}

{% block title %}{{ 'frontend.title.list'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

{% endblock %}

{% block page_content %}
    {% if not rates|length %}
        <div class="alert alert-warning">
            {{ 'frontend.you_not_have_factory_rates'|trans }}
            <a href="{{ path('retailer_profile_factory_rate_create') }}">{{ 'frontend.create'|trans }}.</a>
        </div>
    {% else %}
        <div class="pull-right">
            {% if has_factories_for_create %}
                <a class="btn btn-success" href="{{ path('retailer_profile_factory_rate_create') }}">{{ 'frontend.create'|trans }}</a>
            {% else %}
                <a class="btn btn-success disabled" href="#" onclick="return false;" data-toggle="tooltip" title="{{ 'frontend.no_factories_for_create_relation'|trans }}">Create</a>
            {% endif %}
        </div>

        <div class="clearfix"></div>

        <div class="information-blocks">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center">{{ 'frontend.brand'|trans }}</th>
                    <th class="text-center">{{ 'frontend.coefficient'|trans }}</th>
                    <th class="text-center">{{ 'frontend.dumping'|trans }}</th>
                    <th class="text-center">{{ 'frontend.actions'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% for rate in rates %}
                    <tr class="text-center">
                        <td>{{ rate.factory.name }}</td>
                        <td>{{ rate.coefficient }}</td>
                        <td>{{ rate.dumping }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ 'frontend.actions'|trans }} <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('retailer_profile_factory_rate_edit', { rate: rate.id }) }}">{{ 'frontend.edit'|trans }}</a>
                                    </li>

                                    <li>
                                        <a href="{{ path('retailer_profile_factory_rate_remove', { rate: rate.id}) }}" 
                                           data-remove data-message="Are you sure you want to remove factory condition?"
                                           class="text-danger">
                                            {{ 'frontend.remove'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}