{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/ProductPartMaterial:macros.html.twig' import list %}


{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
        <li>{{ 'product_part_material.breadcrumb.index'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{ buttons.manage(path('furniture_backend_product_part_material_option'), 'product_part_material.option.manage'|trans) }}
            {{ buttons.create(path('furniture_backend_product_part_material_create'), 'product_part_material.create'|trans) }}
        </div>
        <h1><i class="glyphicon glyphicon-list-alt"></i> {{ 'product_part_material.index_header'|trans|raw }}</h1>
    </div>

    {% render(controller('sylius.controller.backend.form:productPartMaterialFilterAction')) %}

    {{ pagination(product_part_materials) }}
    {{ list(product_part_materials) }}
    {{ pagination(product_part_materials) }}

{% endblock %}
