{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
        <li>Product part material</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{ buttons.manage(path('furniture_backend_product_part_material_option'), 'product_part_material_option.manage'|trans) }}
            {{ buttons.create(path('furniture_backend_product_part_material_create'), 'product_part_material_option.create'|trans) }}
        </div>
        <h1><i class="glyphicon glyphicon-list-alt"></i> {{ 'product_part_material.header.index'|trans|raw }}</h1>
    </div>

    {{ pagination(product_part_materials) }}

    {% if product_part_materials|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ sylius_resource_sort('name', 'product_part_material.name'|trans) }}</th>
                <th>{{ 'product_part_material.option_values'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for product_part_material in product_part_materials %}
                <tr id="{{ product_part_material.id }}">
                    <td>{{ product_part_material.name }}</td>
                    <td>
                        <ul>
                            {% for grouped in product_part_material.getGroupedOptionValues() %}
                                <li>
                                    <strong>{{ grouped.name }}:</strong>
                                    {{ grouped.values.toArray()|join(', ') }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <div class="pull-right">
                            {{ buttons.show(path('furniture_backend_product_part_material_show', {id: product_part_material.id})) }}
                            {{ buttons.edit(path('furniture_backend_product_part_material_update', {id: product_part_material.id})) }}
                            {{ buttons.delete(path('furniture_backend_product_extenstion_delete', {id: product_part_material.id})) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ alerts.info('product_part_material.no_results'|trans) }}
    {% endif %}

    {{ pagination(product_part_materials) }}

{% endblock %}
