{% macro list(materials) %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{%  if materials|length > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th>{{ sylius_resource_sort('name', 'product_part_material.name'|trans) }}</th>
            <th>Factory</th>
            <th>{{ 'product_part_material.option_values'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr id="{{ material.id }}">
                <td>{{ material.name }}</td>
                <td>
                    {% if material.factory %}
                        {{ material.factory.name }}
                    {% endif %}
                </td>
                <td>
                    <ul>
                        {% for grouped in material.getGroupedOptionValues() %}
                            <li>
                                <strong>{{ grouped.name }}:</strong>
                                {{ grouped.values.toArray()|join(', ') }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <div class="pull-right">
                        {{ buttons.show(path('furniture_backend_product_part_material_show', {id: material.id})) }}
                        {{ buttons.edit(path('furniture_backend_product_part_material_update', {id: material.id})) }}
                        {% if is_product_part_material_can_remove(material) %}
                            {{ buttons.delete(path('furniture_backend_product_extenstion_delete', {id: material.id})) }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ alerts.info('product_part_material.no_results'|trans) }}
{% endif %}
{% endmacro %}